section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_roto_linearity_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @roto_linearities.each do |roto_linearity|
            tr id=dom_id(roto_linearity)
              td= link_to_if policy(roto_linearity).edit?, roto_linearity.name, edit_roto_linearity_path(roto_linearity)
              td
                - if policy(roto_linearity).destroy?
                  = link_to roto_linearity_path(roto_linearity), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @roto_linearities, theme: 'twitter-bootstrap-3'