.box.box-primary
  .box-body
    = simple_form_for @lamination_index, html: { class: 'form-horizontal' } do |f|
      = f.input :lamination_glue_system_1_id, collection: LaminationGlueSystem.all.map{ |t| [t.name, t.id] }, include_blank: true
      = f.input :lamination_glue_system_2_id, collection: LaminationGlueSystem.all.map{ |t| [t.name, t.id] }, include_blank: true
      = f.input :lamination_machine_id, collection: LaminationMachine.all.map{ |t| [t.name, t.id] }, include_blank: true
      = f.input :value
      = f.input :vpzp

      .box-footer
        => link_to t('shared.back'), lamination_indices_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
