section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_index_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.lamination_glue_system'
            th=t '.table.lamination_machine'
            th=t '.table.value'
            th
        tbody
          - @lamination_indices.each do |lamination_index|
            tr id=dom_id(lamination_index)
              td= link_to_if policy(lamination_index).edit?, lamination_glue_system_show(lamination_index), edit_lamination_index_path(lamination_index)
              td= lamination_index.lamination_machine.name
              td= link_to_if policy(lamination_index).edit?, lamination_index.value, edit_lamination_index_path(lamination_index)
              td
                - if policy(lamination_index).destroy?
                  = link_to lamination_index_path(lamination_index), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_indices, theme: 'twitter-bootstrap-3'