.box.box-primary
  .box-body
    = simple_form_for @roto_paint, html: { class: 'form-horizontal' } do |f|
      = f.input :name

      .box-footer
        => link_to t('shared.back'), roto_paints_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'