section.content-header
  h1
    i.fa.fa-eyedropper>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_roto_paint_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @roto_paints.each do |roto_paint|
            tr id=dom_id(roto_paint)
              td= link_to_if policy(roto_paint).edit?, roto_paint.name, edit_roto_paint_path(roto_paint)
              td
                - if policy(roto_paint).destroy?
                  = link_to roto_paint_path(roto_paint), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @roto_paints, theme: 'twitter-bootstrap-3'