.box.box-primary
  .box-body
    = simple_form_for @lamination_roto_index, html: { class: 'form-horizontal' } do |f|
      = f.input :lamination_roto_linearity_id, collection: LaminationRotoLinearity.all.map{ |t| [t.value, t.id] }, include_blank: true
      = f.input :lamination_roto_glue_type_id, collection: LaminationRotoGlueType.all.map{ |t| [t.name, t.id] }, include_blank: true
      = f.input :value_wet
      = f.input :value_dry

      .box-footer
        => link_to t('shared.back'), lamination_roto_indices_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'