section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_roto_index_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.lamination_roto_linearity'
            th=t '.table.lamination_roto_glue_type'
            th=t '.table.value_wet'
            th=t '.table.value_dry'
            th
        tbody
          - @lamination_roto_indices.each do |lamination_roto_index|
            tr id=dom_id(lamination_roto_index)
              td= link_to_if policy(lamination_roto_index).edit?, lamination_roto_index.lamination_roto_linearity.value, edit_lamination_roto_index_path(lamination_roto_index)
              td= link_to_if policy(lamination_roto_index).edit?, lamination_roto_index.lamination_roto_glue_type.name, edit_lamination_roto_index_path(lamination_roto_index)
              td= link_to_if policy(lamination_roto_index).edit?, lamination_roto_index.value_wet, edit_lamination_roto_index_path(lamination_roto_index)
              td= link_to_if policy(lamination_roto_index).edit?, lamination_roto_index.value_dry, edit_lamination_roto_index_path(lamination_roto_index)
              td
                - if policy(lamination_roto_index).destroy?
                  = link_to lamination_roto_index_path(lamination_roto_index), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_roto_indices, theme: 'twitter-bootstrap-3'