.box.box-primary
  .box-header.with-border
    .col-md-3
    .col-md-9
      h3= t('.lamination_1')
  .box-body
    = f.input :lamination_glue_system_1_id, collection: lamination_glue_system_data_for_select, include_blank: true, input_html: {class: 'lamination-glue-system_1-select'}
    = f.input :lamination_machine_1_id, collection: lamination_machine_data_for_select, include_blank: true, input_html: {class: 'lamination-machine_1-select'}
    = f.input :lamination_cylinder_1_id, collection: lamination_cylinders_data_for_select, include_blank: true, input_html: {class: 'lamination-cylinder_1-select'}
    = f.input :lamination_type_1_id, collection: lamination_type_data_for_select, include_blank: true, input_html: {class: 'lamination-type_1-select'}
    = f.input :lamination_glue_type_1_id, collection: lamination_glue_type_data_for_select, include_blank: true, input_html: {class: 'lamination-glue-type_1-select'}
    .no-lamination1-roto
      = f.input :lamination_glue_1_id, collection: lamination_glue_data_for_select, include_blank: true
    .lamination1-roto style="display: none"
      = f.input :lamination_roto_glue_name_1_id, collection: lamination_roto_glue_name_data_for_select, include_blank: true, input_html: {class: 'lamination-roto-glue-name_1-select'}
      = f.input :lamination_roto_glue_type_1_id, collection: lamination_roto_glue_type_data_for_select, include_blank: true
      = f.input :lamination_roto_linearity_1_id, collection: lamination_roto_linearity_data_for_select, include_blank: true
      = f.input :lamination_roto_preser_1_id, collection: lamination_roto_preser_data_for_select, include_blank: true

      = f.input :lamination_roto_glue_viscosity_1, as: :integer

      = f.input :lamination_roto_resin_1, as: :float, input_html: {class: 'lamination-roto-resin_1'}
      = f.input :lamination_roto_hardener_1, as: :float, input_html: {class: 'lamination-roto-hardener_1'}
      = f.input :lamination_roto_acetate_1, as: :float