= render partial: 'orders/forms/duplex', object: f, as: :f

.box.box-primary
  .box-header.with-border
    .col-md-3
    .col-md-9
      h3= t('.lamination_2')
  .box-body
    = f.input :lamination_glue_system_2_id, collection: lamination_glue_system_data_for_select, include_blank: true, input_html: {class: 'lamination-glue-system_2-select'}
    = f.input :lamination_machine_2_id, collection: lamination_machine_data_for_select, include_blank: true, input_html: {class: 'lamination-machine_2-select'}
    = f.input :lamination_cylinder_2_id, collection: lamination_cylinders_data_for_select, include_blank: true, input_html: {class: 'lamination-cylinder_2-select'}
    = f.input :lamination_type_2_id, collection: lamination_type_data_for_select, include_blank: true, input_html: {class: 'lamination-type_2-select'}
    = f.input :lamination_glue_type_2_id, collection: lamination_glue_type_data_for_select, include_blank: true, input_html: {class: 'lamination-glue-type_2-select'}
    .no-lamination2-roto
      = f.input :lamination_glue_2_id, collection: lamination_glue_data_for_select, include_blank: true
    .lamination2-roto style="display: none"
      = f.input :lamination_roto_glue_name_2_id, collection: lamination_roto_glue_name_data_for_select, include_blank: true, input_html: {class: 'lamination-roto-glue-name_2-select'}
      = f.input :lamination_roto_glue_type_2_id, collection: lamination_roto_glue_type_data_for_select, include_blank: true
      = f.input :lamination_roto_linearity_2_id, collection: lamination_roto_linearity_data_for_select, include_blank: true
      = f.input :lamination_roto_preser_2_id, collection: lamination_roto_preser_data_for_select, include_blank: true

      = f.input :lamination_roto_glue_viscosity_2, as: :integer

      = f.input :lamination_roto_resin_2, as: :float, input_html: {class: 'lamination-roto-resin_2'}
      = f.input :lamination_roto_hardener_2, as: :float, input_html: {class: 'lamination-roto-hardener_2'}
      = f.input :lamination_roto_acetate_2, as: :float