.box.box-primary
  .box-body
    = simple_form_for @paint, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :paint_type, collection: paint_types_for_select, include_blank: false
      = f.input :machine_id, collection: machines_data_for_select, include_blank: true

      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3= t('.paint_prices.title')
        #paint_prices
          = f.simple_fields_for :paint_prices do |paint_price|
            = render 'paint_price_fields', f: paint_price

      .box.box-solid
        .box-body
          .links
            = link_to_add_association t('.paint_prices.add'), f, :paint_prices, class: 'btn btn-success', data: { 'association-insertion-node' => '#paint_prices', 'association-insertion-method' => 'append' }

      .box-footer
        => link_to t('shared.back'), paint_providers_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
