section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_paint_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.paint_type'
            th
        tbody
          - @paints.each do |paint|
            tr id=dom_id(paint)
              td= link_to_if policy(paint).edit?, paint.name, edit_paint_path(paint)
              td= t("color_presets.colors.#{paint.paint_type}")
              td
                - if policy(paint).destroy?
                  = link_to paint_path(paint), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @paints, theme: 'twitter-bootstrap-3'
