.box.box-primary
  .box-body
    = simple_form_for @lacquering_index, html: { class: 'form-horizontal' } do |f|
      = f.input :machine_id, collection: machines_data_for_select, include_blank: true, input_html: { class: 'lacquering-machines-select' }
      = f.input :lacquering_type_id, collection: lacquering_type_data_for_select, include_blank: true, input_html: { class: 'lacquering-type-select' }
      = f.input :lacquering_anilox_id, collection: lacquering_anilox_data_for_select, include_blank: true, input_html: { class: 'lacquering-anilox-select' }
      = f.input :lacquering_polymer_id, collection: lacquering_polymer_data_for_select, include_blank: true, input_html: { class: 'lacquering-polymer-select' }
      = f.input :coverage_ratio, as: :float, input_html: { min: 0, class: 'not-use-polymer' }
      = f.input :dry_weight, as: :float, input_html: { min: 0, class: 'use-polymer' }
      = f.input :wet_weight, as: :float, input_html: { min: 0, class: 'use-polymer' }

      .box-footer
        => link_to t('shared.back'), lacquering_indices_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'