section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lacquering_index_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.machine'
            th=t '.table.lacquering_type'
            th=t '.table.lacquering_anilox'
            th=t '.table.lacquering_polymer'
            th=t '.table.coverage_ratio'
            th=t '.table.dry_weight'
            th=t '.table.wet_weight'
            th
        tbody
          - @lacquering_indices.each do |lacquering_index|
            tr id=dom_id(lacquering_index)
              td= lacquering_index.machine.name
              td= lacquering_index.lacquering_type.value
              td= (lacquering_index.lacquering_anilox.present? ? lacquering_index.lacquering_anilox.value : t('shared.not_applicable_html'))
              td= (lacquering_index.lacquering_polymer.present? ? lacquering_index.lacquering_polymer.value : t('shared.not_applicable_html'))
              td= link_to_if policy(lacquering_index).edit?, lacquering_index.coverage_ratio, edit_lacquering_index_path(lacquering_index)
              td= link_to_if policy(lacquering_index).edit?, lacquering_index.dry_weight, edit_lacquering_index_path(lacquering_index)
              td= link_to_if policy(lacquering_index).edit?, lacquering_index.wet_weight, edit_lacquering_index_path(lacquering_index)
              td
                - if policy(lacquering_index).destroy?
                  = link_to lacquering_index_path(lacquering_index), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lacquering_indices, theme: 'twitter-bootstrap-3'