li
  i.fa.fa-flag-checkered class=workflow_state_color(order, :printed)
  .timeline-item
    span.time= t('user.role.operator')
    h3.timeline-header class=('no-border' if order.current_state > :printed)
      span= t('.printed')
    - if order.current_state == :printed
      .timeline-body= t('.wait_for_cutting')