li
  i.fa.fa-flag-checkered class=workflow_state_color(order, :printed)
  .timeline-item
    span.time= t('user.role.operator')
    h3.timeline-header class=('no-border' if order.current_state > :printed)
      span= t('.printed')
    - if order.current_state == :printed
      .timeline-body= t('.wait_for_lamination_first_start')

li
  i.fa.fa-clone class=workflow_state_color(order, :laminating_first)
  .timeline-item
    span.time= t('user.role.operator')
    h3.timeline-header class=('no-border' if order.current_state > :laminating_first)
      span= t('.laminating_first')
    - if order.current_state == :laminating_first
      .timeline-body= t('.wait_for_lamination_first_finish')

li
  i.fa.fa-flag-checkered class=workflow_state_color(order, :laminated_first)
  .timeline-item
    span.time= t('user.role.operator')
    h3.timeline-header class=('no-border' if order.current_state > :laminated_first)
      span= t('.laminated_first')
    - if order.current_state == :laminated_first
      .timeline-body= t('.wait_for_lamination_second_start')

li
  i.fa.fa-clone class=workflow_state_color(order, :laminating_second)
  .timeline-item
    span.time= t('user.role.operator')
    h3.timeline-header class=('no-border' if order.current_state > :laminating_second)
      span= t('.laminating_second')
    - if order.current_state == :laminating_second
      .timeline-body= t('.wait_for_lamination_second_finish')

li
  i.fa.fa-flag-checkered class=workflow_state_color(order, :laminated_second)
  .timeline-item
    span.time= t('user.role.operator')
    h3.timeline-header class=('no-border' if order.current_state > :laminated_second)
      span= t('.laminated_second')
    - if order.current_state == :laminated_second
      .timeline-body= t('.wait_for_cutting')