.box.box-primary
  .box-body
    = simple_form_for @form.template, html: { class: 'form-horizontal' } do |f|
      = f.input :product_structure_id, collection: ProductStructure.all.map{|t| [t.name, t.id]}, include_blank: true
      = f.input :background_id, collection: backgrounds_data_for_select_all, include_blank: true
      = f.input :background_for_lamination_1_id, collection: backgrounds_data_for_select_all, include_blank: true
      = f.input :background_for_lamination_2_id, collection: backgrounds_data_for_select_all, include_blank: true

      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3= t('.machine_template_speeds.title')

        #machine_template_speeds
          = f.simple_fields_for :machine_template_speeds do |mts|
            = render 'machine_template_speed_fields', f: mts

      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3= t('.machine_template_spendings.title')

        #machine_template_spendings
          = f.simple_fields_for :machine_template_spendings do |mts|
            = render 'machine_template_spending_fields', f: mts

      .box-footer
        => link_to t('shared.back'), templates_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
