.box-header.with-border
  .col-md-3
  .col-md-9
    h3= f.object.machine.name
.box-body
  .nested-fields
    = f.input :id, as: :hidden
    = f.input :machine_id, as: :hidden
    = f.input :vpbp, as: :integer
