section.content-header
  h1
    i.fa.fa-file-excel-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_template_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.product_structure'
            th=t '.table.raw_material_weight'
            th=t '.table.raw_material_weight_for_lamination_1'
            th=t '.table.raw_material_weight_for_lamination_2'
            th
        tbody
          - @templates.each do |template|
            tr id=dom_id(template)
              td= link_to_if policy(template).edit?, simple_format(template.name), edit_template_path(template)
              td= template.product_structure.name
              td
                - if template.background_id.present?
                  = template.background.raw_weight
              td
                - if template.background_for_lamination_1_id.present?
                  = template.background_for_lamination_1.raw_weight
              td
                - if template.background_for_lamination_2_id.present?
                  = template.background_for_lamination_2.raw_weight
              td
                - if policy(template).destroy?
                  = link_to template_path(template), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @templates, theme: 'twitter-bootstrap-3'
