section.content-header
  h1
    i.fa.fa-file-excel-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_background_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.raw_weight'
            th
        tbody
          - @backgrounds.each do |background|
            tr id=dom_id(background)
              td= link_to_if policy(background).edit?, simple_format(background.name), edit_background_path(background)
              td= background.raw_weight
              td
                - if policy(background).destroy?
                  = link_to background_path(background), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @backgrounds, theme: 'twitter-bootstrap-3'
