section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_glue_system_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @lamination_glue_systems.each do |lamination_glue_system|
            tr id=dom_id(lamination_glue_system)
              td= link_to_if policy(lamination_glue_system).edit?, lamination_glue_system.name, edit_lamination_glue_system_path(lamination_glue_system)
              td
                - if policy(lamination_glue_system).destroy?
                  = link_to lamination_glue_system_path(lamination_glue_system), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_glue_systems, theme: 'twitter-bootstrap-3'