section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_template_background_provider_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @template_background_providers.each do |template_background_provider|
            tr id=dom_id(template_background_provider)
              td= link_to_if policy(template_background_provider).edit?, template_background_provider.name, edit_template_background_provider_path(template_background_provider)
              td
                - if policy(template_background_provider).destroy?
                  = link_to template_background_provider_path(template_background_provider), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @template_background_providers, theme: 'twitter-bootstrap-3'