tr.border-full
  td.border-right.title colspan="3" Laminacja
  td colspan="3" Schemat nr: #{order.template.lamination_scheme}
tr
  td colspan="6" &nbsp;
tr.border-full
  td.border-right.title colspan="2" #{t('orders.lamination_data.lamination_machine')}
  td.border-right.title colspan="2" #{t('orders.lamination_data.lamination_cylinder')}
  td.title colspan="2" #{t('orders.lamination_data.lamination_glue')}
tr.border-full
  td.border-right colspan="2" #{order.lamination_machine.name}
  td.border-right colspan="2" #{order.lamination_cylinder.value}
  td colspan="2" #{order.lamination_glue.name}
tr
  td colspan="6" &nbsp;
tr.border-full
  td.border-right.title colspan="2" #{t('orders.lamination_data.lamination_glue_system')}
  td.border-right.title colspan="2" #{t('orders.lamination_data.lamination_type')}
  td.title colspan="2" #{t('orders.lamination_data.lamination_glue_type')}
tr.border-full
  td.border-right colspan="2" #{lamination_glue_system_show(order.lamination_glue_system)}
  td.border-right colspan="2" #{order.lamination_type.name}
  td colspan="2" #{order.lamination_glue_type.name}
tr
  td colspan="6" &nbsp;
tr.border-full
  td.title colspan="6"Laminacja 1
tr
  td colspan="6" &nbsp;
tr.border-full
  td.title colspan="6"Laminacja 2
tr
  td colspan="6" &nbsp;