.box-body
  = simple_form_for resource, as: resource_name, url: session_path(resource_name),
                              html: { class: 'form-horizontal' } do |f|
    = f.input :email
    = f.input :password
    - if devise_mapping.rememberable?
      .form-group
        .col-sm-offset-3.col-sm-9
          => f.check_box :remember_me
          = f.label :remember_me
    .box-footer
      = f.button :submit, t('.submit')