.has-warning
  .col-md-3
  .col-md-9
    label.control-label
      i.fa.fa-warning>
      = t('shared.check_input_data')
= f.input :canvas_width_lamination_1, as: :integer, input_html: { min: 0 }

.has-warning
  .col-md-3
  .col-md-9
    label.control-label
      i.fa.fa-warning>
      = t('shared.check_input_data')
= f.input :canvas_width_lamination_2, as: :integer, input_html: { min: 0 }