= simple_form_for @lamination_machine, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :use_lamination_roto, as: :boolean
      = f.input :hour_cost
      = f.input :hour_cost_currency, collection: currency_for_select, include_blank: false

  h4= t('.cylinders.title')

  #lamination_cylinders
    = f.simple_fields_for :lamination_cylinders, f.object.lamination_cylinders.order(:value) do |cylinder|
      = render 'lamination_cylinder_fields', f: cylinder

  .box.box-solid
    .box-body
      .links
        = link_to_add_association t('.cylinders.add'), f, :lamination_cylinders, class: 'btn btn-success', data: { 'association-insertion-node' => '#lamination_cylinders', 'association-insertion-method' => 'append' }

  .box.box-solid
    .box-footer
      => link_to t('shared.back'), lamination_machines_path, class: 'btn btn-default'
      => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
