section.content-header
  h1
    i.fa.fa-print>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_machine_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @lamination_machines.each do |lamination_machine|
            tr id=dom_id(lamination_machine)
              td= link_to_if policy(lamination_machine).edit?, lamination_machine.name, edit_lamination_machine_path(lamination_machine)
              td
                - if policy(lamination_machine).destroy?
                  = link_to lamination_machine_path(lamination_machine), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_machines, theme: 'twitter-bootstrap-3'