.box.box-primary
  .box-body
    = simple_form_for @machine_parameter, html: { class: 'form-horizontal' } do |f|
      = f.input :machine_id, collection: Machine.all.map{ |t| [t.name, t.id] }, include_blank: true
      = f.input :product_structure_id, collection: ProductStructure.all.map{ |t| [t.name, t.id] }, include_blank: true
      = f.input :gross_percent, as: :integer, input_html: { step: 0.1, min: 0, max: 100 }
      = f.input :good_percent, as: :integer, input_html: { step: 0.1, min: 0, max: 100 }
      = f.input :after_lamination_1_percent, as: :integer, input_html: { step: 0.1, min: 0, max: 100 }
      = f.input :after_lamination_2_percent, as: :integer, input_html: { step: 0.1, min: 0, max: 100 }
      = f.input :after_cut_percent, as: :integer, input_html: { step: 0.1, min: 0, max: 100 }

      .box-footer
        => link_to t('shared.back'), machine_parameters_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'