section.content-header
  h1
    i.fa.fa-print>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_machine_parameter_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.machine'
            th=t '.table.product_structure'
            th=t '.table.gross_percent'
            th=t '.table.good_percent'
            th=t '.table.after_lamination_1_percent'
            th=t '.table.after_lamination_2_percent'
            th=t '.table.after_cut_percent'
            th
        tbody
          - @machine_parameters.each do |machine_parameter|
            tr id=dom_id(machine_parameter)
              td= machine_parameter.machine.name
              td= machine_parameter.product_structure.name
              td= machine_parameter.gross_percent
              td= machine_parameter.good_percent
              td= machine_parameter.after_lamination_1_percent
              td= machine_parameter.after_lamination_2_percent
              td= machine_parameter.after_cut_percent
              td
                .btn-group
                  a.dropdown-toggle href="#" data-toggle="dropdown"
                    i.fa.fa-gears
                    span.caret
                  ul.dropdown-menu.dropdown-menu-right
                    - if policy(machine_parameter).edit?
                      li
                        = link_to edit_machine_parameter_path(machine_parameter)
                          i.fa.fa-edit>
                          = t('shared.edit')
                    - if policy(machine_parameter).destroy?
                      li
                        = link_to machine_parameter_path(machine_parameter), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash
                          = t('shared.destroy')
    .box-footer
      = paginate @machine_parameters, theme: 'twitter-bootstrap-3'