.box.box-primary
  .box-body
    = simple_form_for @template_background_price, html: { class: 'form-horizontal' } do |f|
      = f.input :background_id, collection: backgrounds_data_for_select_all, include_blank: true, input_html: { class: 'select2 template-background-price' }
      = f.input :template_background_provider_id, collection: TemplateBackgroundProvider.all.map { |c| [c.name, c.id] }, include_blank: true

      .box.box-primary.background_print
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3 &nbsp;
        .box-body
          = f.input :price
          = f.input :price_currency, collection: currency_for_select, include_blank: false
          = f.input :pack_amount
          = f.input :pack_unit, collection: units_for_select, include_blank: true

      .box-footer
        => link_to t('shared.back'), template_background_prices_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
