section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_template_background_price_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.template'
            th=t '.table.provider'
            th
        tbody
          - @template_background_prices.each do |template_background_price|
            tr id=dom_id(template_background_price)
              td= link_to_if policy(template_background_price).edit?, simple_format(template_background_price.background.name), edit_template_background_price_path(template_background_price)
              td= link_to_if policy(template_background_price).edit?, template_background_price.template_background_provider.name, edit_template_background_price_path(template_background_price)
              td
                - if policy(template_background_price).destroy?
                  = link_to template_background_price_path(template_background_price), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @template_background_prices, theme: 'twitter-bootstrap-3'
