.box.box-primary
  .box-body
    = simple_form_for @user, html: { class: 'form-horizontal' } do |f|
      = f.input :role, collection: User::ROLES.map { |role| [t("user.role.#{role}"), role] }
      = f.input :email
      = f.input :first_name
      = f.input :last_name
      = f.input :password
      = f.input :password_confirmation

      .box-footer
        => link_to t('shared.back'), users_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'