section.content-header
  h1
    i.fa.fa-users>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_user_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.role'
            th=t '.table.email'
            th=t '.table.first_name'
            th=t '.table.last_name'
            th
        tbody
          - @users.each do |user|
            tr id=dom_id(user)
              td= link_to_if policy(user).edit?, t("user.role.#{user.role}"), edit_user_path(user)
              td= link_to_if policy(user).edit?, user.email, edit_user_path(user)
              td= link_to_if policy(user).edit?, user.first_name, edit_user_path(user)
              td= link_to_if policy(user).edit?, user.last_name, edit_user_path(user)
              td
                - if policy(user).destroy?
                  = link_to user_path(user), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @users, theme: 'twitter-bootstrap-3'