section.content-header
  h1
    i.fa.fa-cubes>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_product_structure_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @structures.each do |structure|
            tr id=dom_id(structure)
              td= link_to_if policy(structure).edit?, structure.name, edit_product_structure_path(structure)
              td
                - if policy(structure).destroy?
                  = link_to product_structure_path(structure), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @structures, theme: 'twitter-bootstrap-3'