.box.box-primary
  .box-body
    = simple_form_for @client, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :packing_method
      = f.input :outer_diameter

      .box-footer
        => link_to t('shared.back'), clients_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'