section.content-header
  h1
    i.fa.fa-users>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_client_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.packing_method'
            th
        tbody
          - @clients.each do |client|
            tr id=dom_id(client)
              td= link_to_if policy(client).edit?, client.name, edit_client_path(client)
              td= client.packing_method
              td
                - if policy(client).destroy?
                  = link_to client_path(client), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @clients, theme: 'twitter-bootstrap-3'