.box.box-primary
  .box-body
    = simple_form_for @azote_provider, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :price
      = f.input :price_currency, collection: currency_for_select, include_blank: false
      = f.input :pack_amount
      = f.input :pack_unit, collection: units_for_select, include_blank: true

      .box-footer
        => link_to t('shared.back'), azote_providers_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'