section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_azote_provider_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @azote_providers.each do |azote_provider|
            tr id=dom_id(azote_provider)
              td= link_to_if policy(azote_provider).edit?, azote_provider.name, edit_azote_provider_path(azote_provider)
              td
                - if policy(azote_provider).destroy?
                  = link_to azote_provider_path(azote_provider), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @azote_providers, theme: 'twitter-bootstrap-3'