.box.box-primary
  .box-body
    = simple_form_for @lamination_glue_type, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :lamination_type_id, collection: LaminationType.all.map{ |t| [t.name, t.id] }, include_blank: true

      .box-footer
        => link_to t('shared.back'), lamination_glue_types_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'