section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_glue_type_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.lamination_type'
            th
        tbody
          - @lamination_glue_types.each do |lamination_glue_type|
            tr id=dom_id(lamination_glue_type)
              td= link_to_if policy(lamination_glue_type).edit?, lamination_glue_type.name, edit_lamination_glue_type_path(lamination_glue_type)
              td= lamination_glue_type.lamination_type.name
              td
                - if policy(lamination_glue_type).destroy?
                  = link_to lamination_glue_type_path(lamination_glue_type), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_glue_types, theme: 'twitter-bootstrap-3'