.box.box-primary
  .box-body
    = simple_form_for @offset_plate, html: { class: 'form-horizontal' } do |f|
      = f.input :machine_id, collection: machines_data_for_select, include_blank: true
      = f.input :cylinder_id, collection: cylinders_data_for_select, include_blank: true
      = f.input :name

      .box-footer
        => link_to t('shared.back'), offset_plates_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'