section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_offset_plate_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.cylinder'
            th
        tbody
          - @offset_plates.each do |offset_plate|
            tr id=dom_id(offset_plate)
              td= link_to_if policy(offset_plate).edit?, offset_plate.name, edit_offset_plate_path(offset_plate)
              td= link_to_if policy(offset_plate).edit?, offset_plate.cylinder.name, edit_offset_plate_path(offset_plate)
              td
                - if policy(offset_plate).destroy?
                  = link_to offset_plate_path(offset_plate), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @offset_plates, theme: 'twitter-bootstrap-3'