section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_paint_provider_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @paint_providers.each do |paint_provider|
            tr id=dom_id(paint_provider)
              td= link_to_if policy(paint_provider).edit?, paint_provider.name, edit_paint_provider_path(paint_provider)
              td
                - if policy(paint_provider).destroy?
                  = link_to paint_provider_path(paint_provider), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @paint_providers, theme: 'twitter-bootstrap-3'