.box.box-primary
  .box-body
    = simple_form_for @lamination_roto_preser, html: { class: 'form-horizontal' } do |f|
      = f.input :value

      .box-footer
        => link_to t('shared.back'), lamination_roto_presers_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'