section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_roto_preser_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.value'
            th
        tbody
          - @lamination_roto_presers.each do |lamination_roto_preser|
            tr id=dom_id(lamination_roto_preser)
              td= link_to_if policy(lamination_roto_preser).edit?, lamination_roto_preser.value, edit_lamination_roto_preser_path(lamination_roto_preser)
              td
                - if policy(lamination_roto_preser).destroy?
                  = link_to lamination_roto_preser_path(lamination_roto_preser), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_roto_presers, theme: 'twitter-bootstrap-3'