= simple_form_for @form, url: price_update_order_path(@order), method: :patch, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-header.with-border
      .col-md-3
      .col-md-9
        h3 Producent surowca
    .box-body
      = f.input :background_for_print_provider_id, collection: background_for_print_provider_select(@order.template.background_id), include_blank: false
      - if @order.duplex || @order.triplex
        = f.input :background_for_lamination1_provider_id, collection: background_for_print_provider_select(@order.template.background_for_lamination_1_id), include_blank: false
      - if @order.triplex
        = f.input :background_for_lamination2_provider_id, collection: background_for_print_provider_select(@order.template.background_for_lamination_2_id), include_blank: false

  .box.box-primary
    .box-header.with-border
      .col-md-3
      .col-md-9
        h3 Producent farby
    .box-body
      = f.input :yellow_provider_id, collection: yellow_paint_providers_select, include_blank: true
      = f.input :magenta_provider_id, collection: magenta_paint_providers_select, include_blank: true
      = f.input :cyan_provider_id, collection: cyan_paint_providers_select, include_blank: true
      = f.input :black_provider_id, collection: black_paint_providers_select, include_blank: true
      - if show_panton_1?(@order)
        = f.input :panton_1_provider_id, collection: additional_paint_providers_select(@order.panton_1_paint_id), include_blank: true
      - if show_panton_2?(@order)
        = f.input :panton_2_provider_id, collection: additional_paint_providers_select(@order.panton_2_paint_id), include_blank: true

    .box.box-primary
      .box-header.with-border
        .col-md-3
        .col-md-9
          h3 % pokrycia
      .box-body
        = f.input :yellow_percent, as: :integer, input_html: {min: 0, max: 100, step: 1}
        = f.input :magenta_percent, as: :integer, input_html: {min: 0, max: 100, step: 1}
        = f.input :cyan_percent, as: :integer, input_html: {min: 0, max: 100, step: 1}
        = f.input :black_percent, as: :integer, input_html: {min: 0, max: 100, step: 1}

    .box.box-primary
      .box-header.with-border
        .col-md-3
        .col-md-9
          h3
            = "Płyta ofsetowa (#{@order.cylinder.offset_plates.first.name})"
      .box-body
        = f.input :offset_plate_provider_id, collection: OffsetPlateProvider.all.map { |c| [c.name, c.id] }, include_blank: true

    - if @order.roto
      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3 Roto
        .box-body
          = f.input :roto_paint_provider_id, collection: additional_paint_providers_select(@order.roto_paint_id), include_blank: true

    - if @order.lacquering
      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3 Lacquering
        .box-body
          = f.input :lacquering_provider_id, collection: additional_paint_providers_select(@order.lacquering_name_id), include_blank: true

    - if @order.machine.use_azote
      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3 Azot
        .box-body
          = f.input :azote_provider_id, collection: AzoteProvider.all.map { |c| [c.name, c.id] }, include_blank: true

    .box.box-primary
      .box-header.with-border
        .col-md-3
        .col-md-9
          h3 Pakowanie
      .box-body
        = f.input :pack_provider_id, collection: PackProvider.all.map { |c| [c.name, c.id] }, include_blank: true
        = f.input :price_pack
        = f.input :price_pack_currency, collection: currency_for_select, include_blank: false
        = f.input :pack_name
        = f.input :pack_amount, as: :integer

    .box.box-primary
      .box-header.with-border
        .col-md-3
        .col-md-9
          h3 Dodatkowe koszty
      .box-body
        = f.input :price_additional
        = f.input :price_additional_currency, collection: currency_for_select, include_blank: false

  .box-footer
    => link_to t('shared.back'), orders_path, class: 'btn btn-default'
    => f.button :submit, t('shared.save'), class: 'btn btn-primary pull-right'
