.box.box-primary
  .box-body
    .col-md-3
    .col-md-9
      .box.box-warning
        .box-header.with-border
          h3 =t('orders.show.tabs.main_info')
        .box-body
          table.table.table-striped
            tbody
              tr
                td= t('orders.tabs.tab_main.client')
                td= @order.client.name
              tr
                td= t('orders.tabs.tab_main.amount')
                td= @order.amount
              tr
                td= t('orders.tabs.tab_main.width')
                td= @order.width
              tr
                td= t('orders.tabs.tab_main.height')
                td= @order.height
              tr
                td= t('orders.tabs.tab_main.template')
                td= simple_format(@order.template.name)
              tr
                td= t('orders.tabs.tab_for_print.color')
                td= @order.color_preset.name

    = simple_form_for @form, url: actualize_update_order_path(@order), method: :patch, html: { class: 'form-horizontal', name: 'actualize-form' } do |f|
      = f.input :machine_id, collection: machines_data_for_select, include_blank: true, input_html: { class: 'machines-select lacquering-machines-select' }
      = f.input :cylinder_id, collection: cylinders_data_for_select, include_blank: true, input_html: { class: 'cylinders-select' }
      = f.input :cutting_machine_id, collection: cutting_machines_data_for_select, include_blank: true, input_html: { class: 'cutting_machines-select' }
      .has-warning
        .col-md-3
        .col-md-9
          label.control-label
            i.fa.fa-warning>
            = t('shared.check_input_data')
      = f.input :item_count_on_width, as: :integer, input_html: { min: 0 }
      .has-warning
        .col-md-3
        .col-md-9
          label.control-label
            i.fa.fa-warning>
            = t('shared.check_input_data')
      = f.input :canvas_width, as: :integer, input_html: { min: 0 }

      = render partial: "orders/fields/#{@order.product_structure.uid}", object: f, as: :f

      = f.input :ink_amount, as: :float, input_html: { step: 0.1, min: 0, max: 10 }

      - if show_panton_1?(@order)
        = f.input :panton_1_paint_id, collection: additional_paints_for_select, include_blank: false
        = f.input :panton_1_amount, as: :float, input_html: { step: 0.1, min: 0, max: 10 }
      - if show_panton_2?(@order)
        = f.input :panton_2_paint_id, collection: additional_paints_for_select, include_blank: false
        = f.input :panton_2_amount, as: :float, input_html: { step: 0.1, min: 0, max: 10 }

      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3= t('.lacquering')
        .box-body
          = f.input :lacquering, as: :boolean, input_html: {class: 'lacquering-toggle'}
          .lacquering style="display:none;"
            = f.input :lacquering_name_id, collection: lacquering_name_data_for_select, include_blank: true, input_html: { class: 'lacquering-name-select' }
            = f.input :lacquering_type_id, collection: lacquering_type_data_for_select, include_blank: true, input_html: { class: 'lacquering-type-select' }
            = f.input :lacquering_anilox_id, collection: lacquering_anilox_data_for_select, include_blank: true, input_html: { class: 'lacquering-anilox-select' }
            = f.input :lacquering_polymer_id, collection: lacquering_polymer_data_for_select, include_blank: true, input_html: { class: 'lacquering-polymer-select' }

      .box.box-primary.order-roto
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3= t('.roto')
        .box-body
          = f.input :roto, as: :boolean, input_html: {class: 'roto-toggle'}
          .roto style="display:none;"
            = f.input :roto_linearity_id, collection: roto_linearities_data_for_select, include_blank: true, input_html: {class: 'roto-linearity-select'}
            = f.input :roto_preser_id, collection: roto_presers_data_for_select, include_blank: true, input_html: {class: 'roto-preser-select'}
            = f.input :roto_paint_id, collection: roto_paints_data_for_select, include_blank: true, input_html: {class: 'roto-preser-select'}
            = f.input :roto_acetate_name_id, collection: roto_acetates_data_for_select, include_blank: true, input_html: {class: 'roto-preser-select'}
            = f.input :roto_paint_percentage, as: :integer, input_html: { step: 1, min: 0, max: 100 }
            = f.input :roto_acetate_percentage, as: :integer, input_html: { step: 1, min: 0, max: 100 }

      = render partial: "orders/forms/#{@order.product_structure.uid}", object: f, as: :f

      .box-footer
        => link_to t('shared.back'), orders_path, class: 'btn btn-default'
        => f.button :submit, t('shared.save'), class: 'btn btn-primary pull-right'
