.box.box-primary
  .box-body
    = simple_form_for @form, url: @order ? order_path(@order) : orders_path, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :client_id, collection: Client.all.map{ |t| [t.name, t.id] }, include_blank: true, input_html: { class: 'select2' }
      = f.input :number
      = f.input :amount, as: :integer
      = f.input :product_structure_id, collection: ProductStructure.all.map { |c| [c.name, c.id] }, include_blank: true, input_html: { class: 'select2 order-product-structure' }
      = f.input :template_id, collection: templates_data_for_select, include_blank: true, input_html: { class: 'select2 order-template' }
      = f.input :color_preset_id, collection: ColorPreset.all.map { |c| [c.name, c.id] }, include_blank: true

      .box.box-primary
        .box-header.with-border
          .has-warning
            .col-md-3
            .col-md-9
              h3= t('orders.new.packing_size')
              label.control-label
                i.fa.fa-warning>
                = t('shared.check_input_data')
        .box-body
          = f.input :width, as: :integer
          = f.input :height, as: :integer

      .box-footer
        => link_to t('shared.back'), orders_path, class: 'btn btn-default'
        => f.button :submit, f.object.persisted? ? t('shared.save') : t('shared.create'), class: 'btn btn-primary pull-right'
