table.table.table-striped
  thead
    tr
      th= t('.table.name')
      th= t('.table.number')
      th= t('.table.state')
  tbody
    - orders.each do |order|
      tr id=dom_id(order)
        td= link_to_if policy(order).show?, order.name, order_path(order)
        td= link_to_if policy(order).show?, order.number, order_path(order)
        td= link_to_if policy(order).show?, t("order.workflow_state.#{order.workflow_state}"), order_path(order)