ul.timeline.timeline-inverse
  li
    i.fa.fa-clock-o class=workflow_state_color(order, :new)
    .timeline-item
      span.time= t('user.role.technologist')
      h3.timeline-header class=('no-border' if order.current_state > :new)
        span= t('.new')
      - if order.current_state == :new
        .timeline-body= t('.wait_for_update')

  li
    i.fa.fa-map-o class=workflow_state_color(order, :in_preparation)
    .timeline-item
      span.time= t('user.role.storeman')
      h3.timeline-header class=('no-border' if order.current_state > :in_preparation)
        span= t('.in_preparation')
      - if order.current_state == :in_preparation
        .timeline-body= t('.wait_for_prepared')

  li
    i.fa.fa-paint-brush class=workflow_state_color(order, :prepared)
    .timeline-item
      span.time= t('user.role.operator')
      h3.timeline-header class=('no-border' if order.current_state > :prepared)
        span= t('.prepared_for_print')
      - if order.current_state == :prepared
        .timeline-body= t('.wait_for_printing')

  li
    i.fa.fa-print class=workflow_state_color(order, :printing)
    .timeline-item
      span.time= t('user.role.operator')
      h3.timeline-header class=('no-border' if order.current_state > :printing)
        span= t('.printing')
      - if order.current_state == :printing
        .timeline-body= t('.wait_for_print_end')

  = render partial: "orders/timeline/#{order.product_structure.uid}", object: order, as: :order

  li
    i.fa.fa-scissors class=workflow_state_color(order, :cutting)
    .timeline-item
      span.time= t('user.role.operator')
      h3.timeline-header class=('no-border' if order.current_state > :cutting)
        span= t('.cutting')
      - if order.current_state == :cutting
        .timeline-body= t('.wait_for_cut_end')

  li
    i.fa.fa-truck class=workflow_state_color(order, :cut)
    .timeline-item
      span.time= t('user.role.storeman')
      h3.timeline-header class=('no-border' if order.current_state > :cut)
        span= t('.cut')
      - if order.current_state == :cut
        .timeline-body= t('.wait_for_give_out')

  li
    i.fa.fa-check-square-o class=workflow_state_color(order, :complete)