section.content-header
  h1
    i.fa.fa-tasks>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy(Order).new?
        = link_to t('.actions.add'), new_order_path, class: 'btn btn-success'
    .box-body.no-padding
      = render partial: 'list', locals: { orders: @orders }
    .box-footer
      = paginate @orders, theme: 'twitter-bootstrap-3'