table cellpadding="0" valign="middle"
  tr style="height: 0mm;"
    th width="3%"
    th width="10%"
    th width="10%"
    th width="10%"
    th width="12%"
    th width="13%"
    th width="9%"
    th width="3%"
    th width="5%"
    th width="6%"
    th width="9%"
    th width="10%"
  tr
    td.small_text colspan="3" #{@order.number}
    td.small_text align="center" colspan="9" Karta pracy i pomiaru
  tr
    td colspan="5" #{Time.now.strftime('%Y')}
    td.big_text colspan="2" rowspan="3" #{@order.client.name}
    td.small_text colspan="5" rowspan="3" #{@order.name}
  tr
    td.small_text colspan="3"  Data wypełnienia
    td.small_text colspan="2"  #{Time.now.strftime('%d-%m-%Y')}
  tr
    td colspan="4"  Wymiary opakowania [ mm ]
    td.small_text rowspan="2" Ilość użytków
  tr
    td colspan="3" Szerokość
    td Skok
    td.small_text colspan="2" Zamówienie klienta w [ kg ]
    td colspan="5" Struktura materiału
  tr
    td colspan="3" #{@order.width}
    td #{@order.height}
    td #{@order.item_count_on_width}
    td colspan="2" #{@order.amount}
    td colspan="5" rowspan="3" #{simple_format(@order.template.name)}
  tr
    td colspan="3" PMS1
    td colspan="2" PMS2
    td colspan="2"
  tr
    - if @order.color_preset.name == 'CMYK_PMS2' || @order.color_preset.name == 'CMYK_PMS1'
      td colspan="3" #{@order.panton_1_paint.name}
    - if  @order.color_preset.name == 'CMYK_PMS2'
      td colspan="2" #{@order.panton_2_paint.name}
    td colspan="2"
  tr
    td.title colspan="13" style="border: none; text-align: center;" Planowana ilość surowców w [mb] i [kg] potrzebna do realizacji zamówienia.
  tr
    td colspan="6" Surowce potrzebne do realizacji zlecenia BRUTTO
    td.small_text colspan="2" Szerokość  [mm]
    td.small_text colspan="2" Waga  [kg]
    td.small_text lość metrów [m]
    td.small_text
      | Powierzchnia  [m
      sup 2
      |]

  = render partial: "orders/pdf_for_storeman/#{@order.product_structure.uid}", object: @order, as: :order, locals: { params: @params }

  tr
    td colspan="10"  Ilość farby
    td #{@params.paint_brutto}
    td style="display:none;"
  - if @order.roto
    tr
      td colspan="10" ROTO masa sucha
      td #{@params.roto_paint_dry}
      td style="display:none;"
    tr
      td colspan="10" ROTO masa mokra
      td #{@params.roto_paint_wet}
      td style="display:none;"
  - if show_lamination1_roto?(@order) || show_lamination1_roto?(@order)
    tr
      td colspan="10"  Klej rozpuszczalnikowy masa sucha
      td #{@params.glue_dry_weight_roto}
      td style="display:none;"
    tr
      td colspan="10"  Klej rozpuszczalnikowy masa mokra
      td #{@params.glue_wet_weight_roto}
      td style="display:none;"
  - if @order.machine.use_lacquering_polymer && @order.lacquering_polymer.present?
    tr.small
      td colspan="10"  Lakier masa sucha
      td #{@params.lacquer_dry_weight}
      td style="display:none;"
    tr
      td colspan="10"  Lakier masa sucha
      td #{@params.lacquer_wet_weight}
      td style="display:none;"
  - else
    tr
      td colspan="10"  Lakier/farba
      td #{@params.lacquer_paint}
      td style="display:none;"
  - if princess_solventless1?(@order)
    tr
      td colspan="10"  Klej bezrozpuszczalnikowy laminacja 1
      td #{@params.princess_solventless_glue1}
      td style="display:none;"
  - if princess_solventless2?(@order)
    tr
      td colspan="10"  Klej bezrozpuszczalnikowy laminacja 2
      td #{@params.princess_solventless_glue2}
      td style="display:none;"
  /!
    tr
      td colspan="10"  Klej bezrozpuszczalnikowy Valmet
      td
      td style="display:none;"
    tr
      td colspan="10"  Jednoskładnikowy
      td 0,0
      td style="display:none;"
    tr
      td colspan="10"  Dwuskładnikowy
      td 0,0
      td style="display:none;"
    tr
      td colspan="10"  Klej bezrozpuszczalnikowy Princess
      td 0,0
      td style="display:none;"
    tr
      td colspan="10"  Dwuskładnikowy
      td
      td style="display:none;"

.page-break

center.big_text Magazyn wyrobów gotowych- wydanie do klienta
table width="100%"
  tr style="width: 0"
    th width="9%"
    th width="8%"
    th width="15%"
    th width="15%"
    th width="15%"
    th width="15%"
    th width="15%"
    th width="8%"
  tr
    td Data
    td Użytki
    td Nr W-Z
    td Waga [kg]
    td Ilość [mb]
    td Szt. opakowań
    td Uwagi
    td Podpis
  - for i in 1..4
    tr
      td rowspan="2"
      td &nbsp;
      td
      td
      td
      td
      td
      td
    tr
      td &nbsp;
      td
      td
      td
      td
      td
      td
