table
  tr.border-full
    td.title colspan="6" DRUK - informacje podstawowe

  tr
    td colspan="6" &nbsp;

  tr.border-full
    td.border-right.title colspan="2" Podłoże do druku
    td.border-right.title colspan="2" Szerokość podłoża do druku [mm]
    td.border-right.title Maszyna drukująca
    td.title Obwód
  tr.border-full
    td.border-right colspan="2" #{@order.template.background_for_print}
    td.border-right colspan="2" #{@order.canvas_width}
    td.border-right #{@order.machine.name}
    td #{@order.cylinder.name}
  tr
    td colspan="6" &nbsp;
  = render partial: "orders/pdf_for_print/#{@order.product_structure.uid}", object: @order, as: :order
  tr.border-full
    td.title colspan="6" Druk - wypełnia maszynista

  tr
    td colspan="6" &nbsp;

  tr.border-full
    td.border-right.title colspan="2" Ilość surowca z magazynu do druku BRUTTO
    td.border-right.title colspan="2" Druk z makulaturą, przyrządem, ździerem
    td.border-right.title Makulatura przyrządowa*
    td.border-right.title Makulatura pozostała*
  tr.border-full
    td.border-right.title
      | [kg]
    td.border-right.title
      | [mb]
    td.border-right.title colspan="2"
      | [mb]
    td.border-right.title
      | [mb]
    td.title
      | [mb]
  tr.border-full
    td.border-right &nbsp;
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right &nbsp;
    td &nbsp;

  tr
    td colspan="6" &nbsp;

  tr.border-full
    td.border-right &nbsp;
    td.border-right.title Ilość farby w [kg]
    td.border-right.title colspan="2" Producent
    td.title colspan="2" Farba z agregatu nr
  tr.border-full
    td.border-right.title Yellow
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right colspan="2" &nbsp;
  tr.border-full
    td.border-right.title Magenta
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right colspan="2" &nbsp;
  tr.border-full
    td.border-right.title Cyan
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right colspan="2" &nbsp;
  tr.border-full
    td.border-right.title Black
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right colspan="2" &nbsp;
  tr.border-full
    td.border-right.title PMS1 (#{@order.panton_1.to_i})
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right colspan="2" &nbsp;
  tr.border-full
    td.border-right.title PMS2 (#{@order.panton_2.to_i})
    td.border-right &nbsp;
    td.border-right colspan="2" &nbsp;
    td.border-right colspan="2" &nbsp;
  tr.border-full
    td.border-right.title colspan="2" Typ krycia
    td.border-right colspan="4" #{@order.color_preset.name}

  tr
    td colspan="6" &nbsp;
  /!@todo will check if there is lamination, than show this table
    it is just template
  tr.border-full
    td.title colspan="6" Druk informacje uzupełniające
  tr.border-full
    td.border-right.title colspan="4" Lakierowanie dotyczy R680
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Anilox dotyczy R680
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Liniatura
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Rodzaj dotyczy R680
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Nazwa dotyczy R680
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Lakier zużycie w [kg]
    td colspan="2" &nbsp;
  tr.border-full
    td.border-right.title colspan="4" Lakierowanie Flexo EB Alprinta
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Anilox EB
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Rodzaj
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Roto
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Liniatura
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Preser [mm]
    td colspan="2" ?????????
  tr.border-full
    td.border-right.title colspan="4" Producent
    td colspan="2" ?????????
  tr.border-full
    td.title colspan="6" Zużycie mieszanki
  tr.border-full
    td.border-right.title colspan="4" Octan [kg]
    td colspan="2" &nbsp;
  tr.border-full
    td.border-right.title colspan="4" Farba [kg]
    td colspan="2" &nbsp;
  tr.border-full
    td.border-right.title colspan="4" Octan mycie  [kg]
    td colspan="2" &nbsp;