center.big_text Laminacja - informacje dotyczące procesu
table width="100%"
  tr style="height: 0"
    th width="13%"
    th width="14%"
    th width="3%"
    th width="5%"
    th width="11%"
    th width="17%"
    th width="22%"
    th width="15%"
  tr
    td Laminator
    th
    td Typ laminacji
    th
    td Układ klejow
    th
    td colspan="2" Schemat laminacji nr
  tr
    td #{@order.lamination_machine_1.name}
    th
    td #{@order.lamination_type_1.name}
    th
    td #{@order.lamination_glue_system_1.name}
    th
    td colspan="2"
  tr style="height: 10px;"
    th colspan="8"
  - if !show_lamination1_roto?(@order)
    tr
      td colspan="2" Rodzaj kleju
      td #{@order.lamination_glue_1.name}
      td Klej
      td #{@order.lamination_glue_type_1.name}
      td Szerokość wałka / sleeva
      td colspan="2" #{@order.lamination_cylinder_1.value}

- if show_lamination1_roto?(@order)
  table width="100%" style="margin-top: 10px;"
    tr style="height: 0"
      th width="14%"
      th width="14%"
      th width="14%"
      th width="8%"
      th width="22%"
      th width="6%"
      th width="22%"
    tr
      td Szerokość presera
      td Liniatura
      td Typ kleju
      th
      td Nazva kleju
      th
      td Proporcje mieszania kleju
    tr
      td #{@order.lamination_roto_preser_1.value}
      td #{@order.lamination_roto_linearity_1.value}
      td #{@order.lamination_roto_glue_type_1.name}
      th
      td #{@order.lamination_roto_glue_name_1.name}
      th
      td

center.big_text Laminacja 1 - wypełnia operator
table width="100%"
  tr style="height: 0"
    th width="13%"
    th width="13%"
    th width="4%"
    th width="5%"
    th width="3%"
    th width="5%"
    th width="4%"
    th width="5%"
    th width="12%"
    th width="4%"
    th width="12%"
    th width="4%"
    th width="3%"
    th width="9%"
    th width="4%"
  tr
    td colspan="3"  Podłoże po druku lub tylko do laminacji
    th
    td colspan="5"  Podłoże do laminacji
    th
    td colspan="5"  Ilość zużyta w trakcie laminacji Brutto
  tr
    td.big_text colspan="3" #{@order.template.background_for_print}
    th
    td.big_text colspan="5" #{@order.template.background_for_lamination_1}
    th
    td.small_text colspan="2" style="vertical-align:top;" [mb]
    td.small_text colspan="3" style="vertical-align:top;" [kg]

  tr
    td colspan="15" Ilość zużytego kleju
  - if show_lamination1_roto?(@order)
    tr
      td colspan="3" Żywica [kg]
      th
      td colspan="3" Utwardzacz [kg]
      th
      td colspan="3" Octan [kg]
      th
      td colspan="3" Octan mycie [kg]
    tr
      td colspan="3" &nbsp;
      th
      td colspan="3" &nbsp;
      th
      td colspan="3" &nbsp;
      th
      td colspan="3" &nbsp;
  - else
    tr
      td colspan="5" Żywica [kg]
      td colspan="10"
    tr
      td colspan="5" Utwardzacz [kg]
      td colspan="10" &nbsp;

  tr
    th colspan="15" style="height: 10px;"
  tr
    td.small_text colspan="6" style="vertical-align:top;" Ilość dobrego laminatu bez makulatury, przyrządu jaka pwinna być przekazana do dalszej produkcji [mb]
    td.small_text colspan="4" rowspan="3" style="vertical-align:top;"  Operator Data/Podis
    td.small_text colspan="3" rowspan="3" style="vertical-align:top;" Octan wiskozymetr [kg]
    td.small_text colspan="2" rowspan="3" style="vertical-align:top;" Zadana lepkość
  tr
    td Wartość wyliczona [mb]
    td.small_text colspan="5" rowspan="2" style="vertical-align:top;"  Przekazano [mb]
  tr
    td #{@params.material_after_first_lamination}