table
  tr.border-full
    td.border-right colspan="3" #{@order.name}
    td colspan="3" Karta pracy i pomiaru
  tr
    td colspan="6" &nbsp;
  tr.border-full
    td.border-right colspan="3" #{@order.number}
    td.border-right colspan="3" #{@order.client.name}
  tr
    td colspan="6" &nbsp;
  tr.border-full
    td.border-right.title colspan="2" Data wypełnienia
    td.border-right.title colspan="2" Zamówienie klienta w [kg]
    td.title colspan="2" Struktura materiału
  tr.border-full
    td.border-right colspan="2" #{Time.now.to_formatted_s(:db)}
    td.border-right colspan="2" #{@order.amount}
    td colspan="2" #{simple_format(@order.template.name)}
  tr
    td colspan="6" &nbsp;
  tr.border-full
    td.border-right.title colspan="4" Wymiary opakowania [mm]
    td colspan="2" &nbsp;
  tr.border-full
    td.border-right.title colspan="2" Szerokość
    td.border-right.title colspan="2" Skok
    td.title colspan="2" Ilość użytków
  tr.border-full
    td.border-right colspan="2" #{@order.width}
    td.border-right colspan="2" #{@order.height}
    td colspan="2" #{@order.item_count_on_width}
  tr
    td colspan="6" &nbsp;
  tr.border-full
    td.border-right.title colspan="2" Maszyna drukująca
    td.title colspan="2" Obwód
    td.border-right.title  PMS1
    td.title PMS2
  tr.border-full
    td.border-right colspan="2" #{@order.machine.name}
    td.border-right colspan="2" #{@order.cylinder.name}
    td.border-right #{@order.panton_1}
    td #{@order.panton_2}
  tr
    td colspan="6" &nbsp;
  tr.border-full
    td.title colspan="6" Planowana ilość surowców w [mb] i [kg] potrzebna do realizacji zamówienia.
  tr.border-full
    td.border-right.title colspan="2" Surowce potrzebne do realizacji zlecenia BRUTTO
    td.border-right.title Szerokość [mm]
    td.border-right.title Waga [kg]
    td.border-right.title Ilość metrów [m]
    td.title Powierzchnia [m2]
  = render partial: "orders/pdf_for_storeman/#{@order.product_structure.uid}", object: @order, as: :order, locals: { params: @params }
  tr.border-full
    td.border-right.title colspan="5" Ilość farby
    td #{@params.paint_brutto}

