center.big_text Druk - informacje podstawowe
table width="75%"
  tr
    td width="35%"  Podłoże do druku
    td rowspan="2" width="20%"  Szerokość podłoża do druku [mm]
    td width="20%"  Maszyna drukuąca
  tr
    td.big_text rowspan="3" #{@order.template.background_for_print}
    td #{@order.machine.name}
  tr
    td.big_text rowspan="2" #{@order.canvas_width}
    td Obwód
  tr
    td #{@order.cylinder.name}
center.big_text Druk - wypełnia maszynista
table width="100%"
  tr style="height: 0"
    th width="15%"
    th width="2%"
    th width="7%"
    th width="9%"
    th width="6%"
    th width="3%"
    th width="9%"
    th width="8%"
    th width="9%"
    th width="6%"
    th width="3%"
    th width="8%"
    th width="3%"
    th width="12%"
  tr
    th colspan="10"
    th colspan="4"  Makulatura
  tr
    td colspan="5"  Ilość surowca z magazinu do druku BRUTO
    td colspan="5"  Druk z makulaturą, przyrządem, żdzierem
    td colspan="3"  Przyrządowa*
    td Pozostała*
  tr
    td colspan="2"  [kg]
    td colspan="3"  [mb]
    td colspan="5"  [mb]
    td colspan="3"  [mb]
    td [mb]
  tr
    td rowspan="2"
    td colspan="2"  Yellow
    td Magenta
    td colspan="2"  Cyan
    td Black
    td colspan="2"  PMS1
    td colspan="3"  PMS2
    td colspan="2"  Typ krycia
  tr
    td colspan="2" rowspan="2"
    td rowspan="2"
    td colspan="2" rowspan="2"
    td rowspan="2"
    td colspan="2"  #{@order.panton_1_paint.name}
    td colspan="3"  #{@order.panton_2_paint.name}
    td colspan="2" rowspan="2" style="vertical-align:bottom;" #{@order.color_preset.name}
  tr
    td Ilość farby w [kg]
    td.small_text rowspan="2" style="vertical-align:top;"  ilość
    td.small_text rowspan="2" style="vertical-align:top;"  producent
    td.small_text colspan="2" rowspan="2" style="vertical-align:top;"  producent
    td.small_text rowspan="2" style="vertical-align:top;"  ilość
  tr
    td Proucent
    td colspan="2"
    td
    td colspan="2"
    td
  tr
    td Fabra z agregatu nr
    td colspan="2"
    td
    td colspan="2"
    td
    td colspan="2"
    td colspan="3"
center.big_text Druk - informacje uzupełniające
nav
  - if @order.lacquering
    table#one
      tr style="height: 0"
        th width="30%"
        th width="17.5%"
      - if @order.machine.use_lacquering_polymer
        tr
          td Anilox
          td #{@order.lacquering_polymer.value}
        tr
          td Liniatura
          td #{@order.lacquering_anilox.value}
        tr
          td Rozdaj
          td #{@order.lacquering_type.value}
        tr
          td Nazwa
          td #{@order.lacquering_name.value}
      - else
        tr
          td Anilox
          td #{@order.lacquering_anilox.value}
        tr
          td Rozdaj
          td #{@order.lacquering_type.value}
      tr
        td Lakier zużycie w [kg]
        td
  - if @order.roto
    table#two
      tr style="height: 0"
        th width="12%"
        th width="3%"
        th width="13%"
        th width="3%"
        th width="15,5%"
      tr
        td colspan="2"  Liniatura
        td colspan="3"  #{@order.roto_linearity.name}
      tr
        td colspan="2"  Preser [mm]
        td colspan="3"  #{@order.roto_preser.value}
      tr
        td colspan="2"  Producent
        td colspan="3"
      tr
        td colspan="5"
      tr
        td align="center" colspan="5"  Zużycie mieszanki w [kg]
      tr
        td Octan [kg]
        td
        td Farba [kg]
        td
        td Octan mycie [kg]
      tr
        td rowspan="2"
        td rowspan="2"
        td rowspan="2"
        td.noborder
        td rowspan="2"
      tr
        td.noborder

br style="clear: both;"
center.big_text Uwagi końcowe: *- ozhacza makulatura tylko z przyrządu, pozostałe - w trakcie druku ze żdzjerem. Wszystje pola uzupełniać rzetelnie
table width="100%"
  tr style="height: 0"
    th width="50%"
    th width="20%"
    th width="15%"
    th width="15%"
  tr
    td rowspan="3" style="vertical-align:top;"  Uwagi maszynisty do zlec.
    td rowspan="3" style="vertical-align:top;"  Maszynista Data/Podpis
    td colspan="2"  Ilość dobrogo druku bez makulatury, przyrządu jaka powinna być przekazana do dalszej produkcji [mb]
  tr
    td Wartość wyliczona
    td rowspan="2" style="vertical-align:top;"  Przekazano [mb]
  tr
    td #{@params.good_material}

.page-break

center.big_text Magazyn: wydanie surowca na produkcję/druk- wypełnia magazynier/maszynista
table
  tr style="width: 0"
    th width="5%"
    th width="10%"
    th width="55%"
    th width="10%"
    th width="10%"
    th width="10%"
  tr
    td L.p.
    td Producent
    td Numer roli
    td Waga [kg]
    td Ilość [mb]
    td Podpis
  - for i in 1..15
    tr
      td= i
      td
      td
      td
      td
      td

center.big_text Zwrot surowca z produkcji na magazyn- wypełnia maszynista
table
  tr style="width: 0"
    th width="5%"
    th width="10%"
    th width="55%"
    th width="10%"
    th width="10%"
    th width="10%"
  tr
    td L.p.
    td Producent
    td Numer roli
    td Waga [kg]
    td Ilość [mb]
    td Podpis
  - for i in 1..5
    tr
      td= i
      td
      td
      td
      td
      td
