center.big_text Cięcie - wypełnia operator/ informacje dotyczące cięcia
table width="100%"
  tr style="height: 0"
    th width="14%"
    th width="9%"
    th width="9%"
    th width="7%"
    th width="16%"
    th width="5%"
    th width="9%"
    th width="5%"
    th width="11%"
    th width="16%"
  tr
    td colspan="2"  Wymiary opakowania [mm]
    td rowspan="2"  Ilość użytków
    th
    td rowspan="2"  Ilość użytków z 1 metra bieżącego
    th
    td rowspan="2"  Średnica zewnętrzna
    th rowspan="2"
    td rowspan="2"
      | Sposob
      | pakowania
  tr
    td Szerokość
    td Skok
    th
    th
  tr
    td #{@order.width}
    td #{@order.height}
    td #{@order.item_count_on_width}
    th
    td #{@params.item_count_on_width_one_meter}
    th
    td #{@order.client.outer_diameter}
    th
    td #{@order.client.packing_method}

table width="100%" style="margin-top: 10px;"
  tr style="height: 0"
    th width="9%"
    th width="14%"
    th width="16%"
    th width="16%"
    th width="25%"
    th width="20%"
  tr
    td Użytki
    td Sztuk bobin
    td Waga [kg]
    td Ilość [mb]
    td Ilość sztuk opakovań
    td Data/podpis
  - for i in 1..@order.item_count_on_width
    tr
      td height="40" #{t("shared.alphabet.#{i}")}
      td
      td
      td
      td
      td

table width="100%" style="margin-top: 10px;"
  tr style="height: 0"
    th width="14%"
    th width="16%"
    th width="16%"
    th width="5%"
    th width="16%"
    th width="34%"
  tr
    td Makulatura
    td colspan="2" rowspan="3"
      | Ilość dobrego materiału bez makulatury,
      | przyrządu jaka powinna być przekazana do
      | dalszej magazynu [mb]
    td colspan="2" rowspan="2" Ilość ogółem sztuk opakowań
    td Uwagi dot/ cięcia
  tr
    td Przyrząd
    td rowspan="5" &nbsp;
  tr
    td.small_text
      | [mb]
    td colspan="2" rowspan="4" #{@params.packages_amount_sum}
  tr
    td
    td Wartość wyliczona
    td.small_text rowspan="3" style="vertical-align:top;"  Przekazano [mb]
  tr
    td Pozostała*
    td rowspan="2" #{@params.material_after_cut}
    th
    th
  tr
    td.small_text
      | [mb]
    th
    th
  - for i in 1..@order.item_count_on_width
    tr
      th colspan="3"
      th height="50" #{t("shared.alphabet.#{i}")}
      th #{(@params.packages_amount_sum / @order.item_count_on_width).round(0)}