section.content-header
  .pull-right
    .label.bg-blue
      =t "order.workflow_state.#{@order.workflow_state}"
  h1
    i.fa.fa-tasks>
    =t '.title', name: @order.name
    small=l @order.created_at, format: :short

section.content
  #actions.box.box-solid
    .box-body
      / Technologist actions
      - if policy(@order).edit?
        => link_to edit_order_path(@order), class: 'btn btn-default' do
          i.fa.fa-edit>
          = t('.actions.edit')

      - if policy(@order).actualize_edit?
        => link_to actualize_edit_order_path(@order), class: 'btn btn-default' do
          i.fa.fa-refresh>
          = t('.actions.actualize')

      - if policy(@order).destroy?
        .pull-right
          => link_to order_path(@order), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger' do
            i.fa.fa-trash>
            = t('.actions.destroy')
      / END Technologist actions

      / Storeman actions
      - if policy(@order).prepared_update?
        => link_to prepared_update_order_path(@order), method: :patch, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-default' do
          i.fa.fa-check-circle-o>
          = t('.actions.to_prepared')

      - if policy(@order).give_away_update?
        => link_to give_away_update_order_path(@order), method: :patch, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-default' do
          i.fa.fa-external-link>
          = t('.actions.give_away')

      - if policy(@order).cant_prepare_materials_update?
        a.btn.btn-warning href="#" data-toggle="modal" data-target="#cant_prepare_materials"
          i.fa.fa-times-circle>
          = t('.actions.cant_prepare_material')
      / END Storeman actions

      / Operator actions
      - if policy(@order).rollback_update?
        => link_to rollback_update_order_path(@order), method: :patch, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-warning' do
          i.fa.fa-mail-reply>
          = t('.actions.rollback')

      - if policy(@order).start_print_update?
        => link_to start_print_update_order_path(@order), method: :patch, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-default' do
          i.fa.fa-print>
          = t('.actions.start_print')

      - if policy(@order).finish_print_update?
        / a.btn.btn-default href="#" data-toggle="modal" data-target="#finish_print"
        => link_to finish_print_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-check>
          = t('.actions.finish_print')

      - if policy(@order).start_lamination_first_update?
        => link_to start_lamination_first_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-clone>
          = t('.actions.start_lamination_first')

      - if policy(@order).finish_lamination_first_update?
        => link_to finish_lamination_first_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-check>
          = t('.actions.finish_lamination_first')

      - if policy(@order).start_lamination_second_update?
        => link_to start_lamination_second_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-clone>
          = t('.actions.start_lamination_second')

      - if policy(@order).finish_lamination_second_update?
        => link_to finish_lamination_second_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-check>
          = t('.actions.finish_lamination_second')

      - if policy(@order).start_cut_update?
        => link_to start_cut_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-scissors>
          = t('.actions.start_cut')

      - if policy(@order).finish_cut_update?
        => link_to finish_cut_update_order_path(@order), method: :patch, data: {confirm: t('shared.are_you_sure')}, class: 'btn btn-default' do
          i.fa.fa-check>
          = t('.actions.finish_cut')
      / END Operator actions

      - if policy(@order).price_show_edit?
        => link_to price_edit_order_path(@order), class: 'btn btn-default' do
          i.fa.fa-dollar>
          = t('.actions.price_calculate')

  .row
    - if policy(@order).show_timeline?
      .col-md-4
        #timeline
          /! The timeline
          = render partial: 'timeline', object: @order, as: :order

    div class=(policy(@order).show_timeline? ? 'col-md-8' : 'col-md-12')
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a href="#tab_main" data-toggle="tab"
              = t('.tabs.main_info')

          - if policy(@order).pdf_for_print?
            li
              a href="#tab_for_print" data-toggle="tab"
                = t('.tabs.for_printing')

          - if policy(@order).lamination1?
            li
              a href="#tab_lamination1" data-toggle="tab"
                = t('.tabs.lamination1')

          - if policy(@order).lamination2?
            li
              a href="#tab_lamination2" data-toggle="tab"
                = t('.tabs.lamination2')

          - if policy(@order).pdf_after_print?
            li
              a href="#tab_after_print" data-toggle="tab"
                = t('.tabs.after_print')

          - if policy(@order).show_log?
            li
              a href="#tab_log" data-toggle="tab"
                = t('.tabs.log')

          - if policy(@order).price_show_tab?
            li
              a href="#tab_price" data-toggle="tab"
                = t('.tabs.price')

        .tab-content
          .tab-pane.active#tab_main
            = render partial: 'orders/tabs/tab_main', object: @order, as: :order, locals: { params: @params }

          - if policy(@order).pdf_for_print?
            .tab-pane#tab_for_print
              = render partial: 'orders/tabs/tab_for_print', object: @order, as: :order, locals: { params: @params }

          - if policy(@order).lamination1?
            .tab-pane#tab_lamination1
              = render partial: 'orders/tabs/tab_lamination1', object: @order, as: :order, locals: {params: @params}

          - if policy(@order).lamination2?
            .tab-pane#tab_lamination2
              = render partial: 'orders/tabs/tab_lamination2', object: @order, as: :order, locals: {params: @params}

          - if policy(@order).pdf_after_print?
            .tab-pane#tab_after_print
              = render partial: 'orders/tabs/tab_after_print', object: @order, as: :order, locals: { params: @params }

          - if policy(@order).show_log?
            .tab-pane#tab_log
              = render partial: 'orders/tabs/tab_log', object: @order, as: :order, locals: {logs: @logs}

          - if policy(@order).price_show_tab?
            .tab-pane#tab_price
              = render partial: 'orders/tabs/tab_price', object: @order, as: :order, locals: {params: @params, price: @price}

  - if policy(@order).finish_print_update?
    .modal.fade id="finish_print" tabindex="-1" role="dialog"
      .modal-dialog
        .modal-content
          .modal-header
            button.close type="button" data-dismiss="modal" aria-label="Close"
              span aria-hidden="true" &times;
            h4.modal-title
              = t('.actions.finish_print')
          .modal-body
            form#finish_print_form
              div.form-group
                input#material_for_store_got.form-control.required type="number" step="0.5" min="0" name="order[material_for_store_got]" placeholder=t('.material_for_store_got')
                  = @order.additional_parameter.material_for_store_got
              div.form-group
                input#wastepaper_incoming.form-control.required type="number" step="0.5" min="0" name="order[wastepaper_incoming]" placeholder=t('.wastepaper_incoming')
                  = @order.additional_parameter.wastepaper_incoming
              div.form-group
                input#wastepaper_remaining.form-control.required type="number" step="0.5" min="0" name="order[wastepaper_remaining]" placeholder=t('.wastepaper_remaining')
                  = @order.additional_parameter.wastepaper_remaining
              div.form-group
                textarea#comments_after_print.form-control name="order[comments_after_print]" placeholder=t('.comments_after_print')
                  = @order.additional_parameter.comments_after_print
          .modal-footer
            button.btn.btn-default type="button" data-dismiss="modal"
              = t('shared.close')
            button.btn.btn-primary.finish_print_save type="button" data-order-id=@order.id
              = t('shared.save')

  - if policy(@order).cant_prepare_materials_update?
    .modal.fade id="cant_prepare_materials" tabindex="-1" role="dialog"
      .modal-dialog
        .modal-content
          .modal-header
            button.close type="button" data-dismiss="modal" aria-label="Close"
              span aria-hidden="true" &times;
            h4.modal-title
              = t('.actions.cant_prepare_material')
          .modal-body
            form#cant_prepare_materials_form
              div.form-group
                textarea#cant_prepare_materials_comment.form-control name="order[cant_prepare_materials_comment]" placeholder=t('.cant_prepare_material_comment')
                  = @order.additional_parameter.cant_prepare_materials_comment
                input type="hidden" name="order[cant_prepare_materials]" value="1"
          .modal-footer
            button.btn.btn-default type="button" data-dismiss="modal"
              = t('shared.close')
            button.btn.btn-primary.cant_prepare_materials_comment_save type="button" data-order-id=@order.id
              = t('shared.save')