.box.box-primary
  .box-body
    = simple_form_for @lamination_roto_glue_name, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :resin_name
      = f.input :hardener_name

      .box-footer
        => link_to t('shared.back'), lamination_roto_glue_names_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'