section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_roto_glue_name_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @lamination_roto_glue_names.each do |lamination_roto_glue_name|
            tr id=dom_id(lamination_roto_glue_name)
              td= link_to_if policy(lamination_roto_glue_name).edit?, lamination_roto_glue_name.name, edit_lamination_roto_glue_name_path(lamination_roto_glue_name)
              td
                - if policy(lamination_roto_glue_name).destroy?
                  = link_to lamination_roto_glue_name_path(lamination_roto_glue_name), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_roto_glue_names, theme: 'twitter-bootstrap-3'