section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lacquering_name_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th= t '.table.value'
            th=t '.table.machine'
            th
        tbody
          - @lacquering_names.each do |lacquering_name|
            tr id=dom_id(lacquering_name)
              td= link_to_if policy(lacquering_name).edit?, lacquering_name.value, edit_lacquering_name_path(lacquering_name)
              td= lacquering_name.machine.name
              td
                - if policy(lacquering_name).destroy?
                  = link_to lacquering_name_path(lacquering_name), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lacquering_names, theme: 'twitter-bootstrap-3'