= simple_form_for @offset_plate_provider, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name

  h4= t('.offset_plate_prices.title')

  #offset_plate_prices
    = f.simple_fields_for :offset_plate_prices do |price|
      = render 'offset_plate_price_fields', f: price

  .box.box-solid
    .box-body
      .links
        = link_to_add_association t('.offset_plate_prices.add'), f, :offset_plate_prices, class: 'btn btn-success', data: { 'association-insertion-node' => '#offset_plate_prices', 'association-insertion-method' => 'append' }

  .box.box-solid
    .box-footer
      => link_to t('shared.back'), offset_plate_providers_path, class: 'btn btn-default'
      => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'