.box
  .box-body
    .nested-fields
      = f.input :offset_plate_id, collection: OffsetPlate.all.map{ |p| ["#{p.name} (#{p.cylinder.name})", p.id] }, include_blank: true
      = f.input :price
      = f.input :price_currency, collection: currency_for_select, include_blank: false
      = f.input :pack_amount
      = f.input :pack_unit, collection: units_for_select, include_blank: true
      .text-right
        = link_to_remove_association t('.delete'), f, class: 'btn btn-danger'