section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_offset_plate_provider_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @offset_plate_providers.each do |offset_plate_provider|
            tr id=dom_id(offset_plate_provider)
              td= link_to_if policy(offset_plate_provider).edit?, offset_plate_provider.name, edit_offset_plate_provider_path(offset_plate_provider)
              td
                - if policy(offset_plate_provider).destroy?
                  = link_to offset_plate_provider_path(offset_plate_provider), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @offset_plate_providers, theme: 'twitter-bootstrap-3'