tr
  td colspan="2" style="text-align: center;"
    b= t('orders.lamination_data.lamination_1')
= render partial: 'orders/main_info/duplex', object: order, as: :order
tr
  td= t('orders.lamination_data.background_for_print_lamination_1')
  td= order.template.background_for_lamination_1
tr
  td= t('orders.tabs.tab_main.good_material')
  td= params.material_after_first_lamination
tr
  td= t('orders.lamination_data.weight')
  td= params.duplex_weight
tr
  td= t('orders.lamination_data.amount_mb')
  td= params.duplex_amount_mb
tr
  td= t('orders.lamination_data.area')
  td= params.duplex_area