= render partial: 'orders/pages/duplex', object: order, as: :order, locals: { params: params }
tr
  td colspan="2" style="text-align: center;"
    b= t('orders.lamination_data.lamination_2')
= render partial: 'orders/main_info/triplex', object: order, as: :order
tr
  td= t('orders.lamination_data.background_for_print_lamination_2')
  td= order.template.background_for_lamination_2
tr
  td= t('orders.tabs.tab_main.good_material')
  td= params.material_after_second_lamination
tr
  td= t('orders.lamination_data.weight')
  td= params.triplex_weight
tr
  td= t('orders.lamination_data.amount_mb')
  td= params.triplex_amount_mb
tr
  td= t('orders.lamination_data.area')
  td= params.triplex_area