.box.box-primary
  .box-body
    = simple_form_for @color_preset, html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :colors_number, as: :integer
      = f.input :offset_plates_count, as: :integer

      .box-footer
        => link_to t('shared.back'), color_presets_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'