section.content-header
  h1
    i.fa.fa-eyedropper>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_color_preset_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @color_presets.each do |color_preset|
            tr id=dom_id(color_preset)
              td= link_to_if policy(color_preset).edit?, color_preset.name, edit_color_preset_path(color_preset)
              td
                - if policy(color_preset).destroy?
                  = link_to color_preset_path(color_preset), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @color_presets, theme: 'twitter-bootstrap-3'