= render partial: 'orders/pdf_for_storeman/simplex', object: order, as: :order, locals: { params: params }
tr
  td colspan="3"  podłoże do laminacja 1
  td colspan="3"  #{order.template.background_for_lamination_1.name}
  td colspan="2"  #{order.canvas_width_lamination_1}
  td colspan="2"  #{params.duplex_weight}
  td #{params.duplex_amount_mb}
  td #{params.duplex_area}
