tr
  td colspan="3"  podłoże do druku/laminacji
  td colspan="3"  #{order.template.background.name}
  td colspan="2"  #{order.canvas_width}
  td colspan="2"  #{params.weight}
  td #{params.amount_mb}
  td #{params.area}
