= render partial: 'orders/pdf_for_storeman/duplex', object: order, as: :order, locals: { params: params }
tr
  td colspan="3"  podłoże do laminacja 2
  td colspan="3"  #{order.template.background_for_lamination_2.name}
  td colspan="2"  #{order.canvas_width_lamination_2}
  td colspan="2"  #{params.triplex_weight}
  td #{params.triplex_amount_mb}
  td #{params.triplex_area}
