= simple_form_for @cutting_machine, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :vpzp, as: :integer
      = f.input :hour_cost
      = f.input :hour_cost_currency, collection: currency_for_select, include_blank: false

  .box.box-solid
    .box-footer
      => link_to t('shared.back'), cutting_machines_path, class: 'btn btn-default'
      => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
