section.content-header
  h1
    i.fa.fa-print>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_cutting_machine_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @cutting_machines.each do |cutting_machine|
            tr id=dom_id(cutting_machine)
              td= link_to_if policy(cutting_machine).edit?, cutting_machine.name, edit_cutting_machine_path(cutting_machine)
              td
                - if policy(cutting_machine).destroy?
                  = link_to cutting_machine_path(cutting_machine), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @cutting_machines, theme: 'twitter-bootstrap-3'
