tr
  td= t('orders.lamination_data.lamination_machine')
  td= order.lamination_machine_1.name
tr
  td= t('orders.lamination_data.lamination_cylinder')
  td= order.lamination_cylinder_1.value

- if show_lamination1_roto?(order)
  tr
    td= t('orders.lamination_data.lamination_roto_glue_name')
    td= order.lamination_roto_glue_name_1.name
  tr
    td= t('orders.lamination_data.lamination_roto_glue_type')
    td= order.lamination_roto_glue_type_1.name
  tr
    td= t('orders.lamination_data.lamination_roto_linearity')
    td= order.lamination_roto_linearity_1.value
  tr
    td= t('orders.lamination_data.lamination_roto_preser')
    td= order.lamination_roto_preser_1.value
  tr
    td= t('orders.lamination_data.lamination_roto_glue_viscosity')
    td= order.lamination_roto_glue_viscosity_1
  tr
    td= order.lamination_roto_glue_name_1.resin_name
    td= order.lamination_roto_resin_1
  tr
    td= order.lamination_roto_glue_name_1.hardener_name
    td= order.lamination_roto_hardener_1
  tr
    td= t('orders.lamination_data.lamination_roto_acetate')
    td= order.lamination_roto_acetate_1
- else
  tr
    td= t('orders.lamination_data.lamination_glue')
    td= order.lamination_glue_1.name

tr
  td= t('orders.lamination_data.lamination_glue_system')
  td= order.lamination_glue_system_1.name
tr
  td= t('orders.lamination_data.lamination_type')
  td= order.lamination_type_1.name
tr
  td= t('orders.lamination_data.lamination_glue_type')
  td= order.lamination_glue_type_1.name
tr
  td= t('orders.lamination_data.canvas_width_lamination')
  td= order.canvas_width_lamination_1