tr
  td= t('orders.lamination_data.lamination_machine')
  td= order.lamination_machine_2.name
tr
  td= t('orders.lamination_data.lamination_cylinder')
  td= order.lamination_cylinder_2.value

- if show_lamination2_roto?(order)
  tr
    td= t('orders.lamination_data.lamination_roto_glue_name')
    td= order.lamination_roto_glue_name_2.name
  tr
    td= t('orders.lamination_data.lamination_roto_glue_type')
    td= order.lamination_roto_glue_type_2.name
  tr
    td= t('orders.lamination_data.lamination_roto_linearity')
    td= order.lamination_roto_linearity_2.value
  tr
    td= t('orders.lamination_data.lamination_roto_preser')
    td= order.lamination_roto_preser_2.value
  tr
    td= t('orders.lamination_data.lamination_roto_glue_viscosity')
    td= order.lamination_roto_glue_viscosity_2
  tr
    td= order.lamination_roto_glue_name_2.resin_name
    td= order.lamination_roto_resin_2
  tr
    td= order.lamination_roto_glue_name_2.hardener_name
    td= order.lamination_roto_hardener_2
  tr
    td= t('orders.lamination_data.lamination_roto_acetate')
    td= order.lamination_roto_acetate_2
- else
  tr
    td= t('orders.lamination_data.lamination_glue')
    td= order.lamination_glue_2.name

tr
  td= t('orders.lamination_data.lamination_glue_system')
  td= order.lamination_glue_system_2.name
tr
  td= t('orders.lamination_data.lamination_type')
  td= order.lamination_type_2.name
tr
  td= t('orders.lamination_data.lamination_glue_type')
  td= order.lamination_glue_type_2.name
tr
  td= t('orders.lamination_data.canvas_width_lamination')
  td= order.canvas_width_lamination_2