.box.box-primary
  .box-body
    = simple_form_for @roto_index, html: { class: 'form-horizontal' } do |f|
      = f.input :roto_linearity_id, collection: roto_linearities_data_for_select, include_blank: true
      = f.input :value_dry
      = f.input :value_wet

      .box-footer
        => link_to t('shared.back'), roto_indices_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'