section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_roto_index_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.linearity'
            th=t '.table.value_dry'
            th=t '.table.value_wet'
            th
        tbody
          - @roto_indices.each do |roto_index|
            tr id=dom_id(roto_index)
              td= link_to_if policy(roto_index).edit?, roto_index.roto_linearity.name, edit_roto_index_path(roto_index)
              td= link_to_if policy(roto_index).edit?, roto_index.value_dry, edit_roto_index_path(roto_index)
              td= link_to_if policy(roto_index).edit?, roto_index.value_wet, edit_roto_index_path(roto_index)
              td
                - if policy(roto_index).destroy?
                  = link_to roto_index_path(roto_index), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @roto_indices, theme: 'twitter-bootstrap-3'