= simple_form_for @cutting_index, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :value
      = f.input :cutting_machine_id, collection: CuttingMachine.all.map{|m| [m.name, m.id]}, include_blank: false
      = f.input :product_structure_id, collection: ProductStructure.all.map{|m| [m.name, m.id]}, include_blank: false
  .box.box-solid
    .box-footer
      => link_to t('shared.back'), cutting_machines_path, class: 'btn btn-default'
      => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
