section.content-header
  h1
    i.fa.fa-print>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_cutting_index_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.value'
            th=t '.table.cutting_machine'
            th=t '.table.product_structure'
            th
        tbody
          - @cutting_indices.each do |cutting_index|
            tr id=dom_id(cutting_index)
              td= link_to_if policy(cutting_index).edit?, cutting_index.value, edit_cutting_index_path(cutting_index)
              td= cutting_index.cutting_machine.name
              td= cutting_index.product_structure.name
              td
                - if policy(cutting_index).destroy?
                  = link_to cutting_index_path(cutting_index), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @cutting_indices, theme: 'twitter-bootstrap-3'
