section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lacquering_type_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th= t '.table.value'
            th=t '.table.machine'
            th
        tbody
          - @lacquering_types.each do |lacquering_type|
            tr id=dom_id(lacquering_type)
              td= link_to_if policy(lacquering_type).edit?, lacquering_type.value, edit_lacquering_type_path(lacquering_type)
              td= lacquering_type.machine.name
              td
                - if policy(lacquering_type).destroy?
                  = link_to lacquering_type_path(lacquering_type), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lacquering_types, theme: 'twitter-bootstrap-3'