section.content-header
  h1
    i.fa.fa-eyedropper>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lamination_glue_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @lamination_glues.each do |lamination_glue|
            tr id=dom_id(lamination_glue)
              td= link_to_if policy(lamination_glue).edit?, lamination_glue.name, edit_lamination_glue_path(lamination_glue)
              td
                - if policy(lamination_glue).destroy?
                  = link_to lamination_glue_path(lamination_glue), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lamination_glues, theme: 'twitter-bootstrap-3'