section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lacquering_anilox_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.value'
            th=t '.table.machine'
            th
        tbody
          - @lacquering_aniloxes.each do |lacquering_anilox|
            tr id=dom_id(lacquering_anilox)
              td= link_to_if policy(lacquering_anilox).edit?, lacquering_anilox.value, edit_lacquering_anilox_path(lacquering_anilox)
              td= lacquering_anilox.machine.name
              td
                - if policy(lacquering_anilox).destroy?
                  = link_to lacquering_anilox_path(lacquering_anilox), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lacquering_aniloxes, theme: 'twitter-bootstrap-3'