section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_pack_provider_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @pack_providers.each do |pack_provider|
            tr id=dom_id(pack_provider)
              td= link_to_if policy(pack_provider).edit?, pack_provider.name, edit_pack_provider_path(pack_provider)
              td
                - if policy(pack_provider).destroy?
                  = link_to pack_provider_path(pack_provider), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @pack_providers, theme: 'twitter-bootstrap-3'