.btn-success {
  background-color: #00A6A1;
  border-color: #008d4c;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 4px;
}

@media (min-width: 979px) {
  #timeline.affix {
    position: fixed;
    top: 50px;
    width:25%;
  }
}