= simple_form_for @machine, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :calculation_coefficient, as: :integer
      = f.input :use_roto, as: :boolean
      = f.input :use_lacquering_polymer, as: :boolean
      = f.input :use_azote, as: :boolean
      = f.input :azote_count, as: :integer
      = f.input :gum_cleaning_202
      = f.input :gum_cleaning_204
      = f.input :gum_cleaning_101_203
      = f.input :price_clear
      = f.input :price_clear_currency, collection: currency_for_select, include_blank: false
      = f.input :hour_cost
      = f.input :hour_cost_currency, collection: currency_for_select, include_blank: false

  h4= t('.cylinders.title')

  #cylinders
    = f.simple_fields_for :cylinders, f.object.cylinders.order(:perimeter) do |cylinder|
      = render 'cylinder_fields', f: cylinder

  .box.box-solid
    .box-body
      .links
        = link_to_add_association t('.cylinders.add'), f, :cylinders, class: 'btn btn-success', data: { 'association-insertion-node' => '#cylinders', 'association-insertion-method' => 'append' }

  .box.box-solid
    .box-footer
      => link_to t('shared.back'), machines_path, class: 'btn btn-default'
      => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'
