section.content-header
  h1
    i.fa.fa-print>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_machine_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @machines.each do |machine|
            tr id=dom_id(machine)
              td= link_to_if policy(machine).edit?, machine.name, edit_machine_path(machine)
              td
                - if policy(machine).destroy?
                  = link_to machine_path(machine), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @machines, theme: 'twitter-bootstrap-3'