section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_roto_preser_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.value'
            th
        tbody
          - @roto_presers.each do |roto_preser|
            tr id=dom_id(roto_preser)
              td= link_to_if policy(roto_preser).edit?, roto_preser.value, edit_roto_preser_path(roto_preser)
              td
                - if policy(roto_preser).destroy?
                  = link_to roto_preser_path(roto_preser), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @roto_presers, theme: 'twitter-bootstrap-3'