gaside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.treeview.active
        a href="#"
          i.fa.fa-cog
          span=t '.settings.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - if policy(User).index?
            li class=('active' if controller_name == 'users')
              = link_to users_path do
                i.fa.fa-users>
                span=t '.settings.users'
          - if policy(ProductStructure).index?
            li class=('active' if controller_name == 'product_structures')
              = link_to product_structures_path do
                i.fa.fa-cubes>
                span= t '.settings.product_structures'
          - if policy(ColorPreset).index?
            li class=('active' if controller_name == 'color_presets')
              = link_to color_presets_path do
                i.fa.fa-eyedropper>
                span= t '.settings.color_presets'
          - if policy(ColorPreset).index?
            li class=('active' if controller_name == 'backgrounds')
              = link_to backgrounds_path do
                i.fa.fa-sticky-note-o>
                span= t '.settings.backgrounds'
          - if policy(ColorPreset).index?
            li class=('active' if controller_name == 'templates')
              = link_to templates_path do
                i.fa.fa-file-excel-o>
                span= t '.settings.templates'

          - if policy(Client).index?
            li class=('active' if controller_name == 'clients')
              = link_to clients_path do
                i.fa.fa-users>
                span= t '.settings.clients'
          - if policy(Machine).index? || policy(MachineParameter).index? || policy(OffsetPlate).index?
            li.treeview class=('active' if machine_top_menu_active(controller_name))
              a href="#"
                i.fa.fa-print>
                = t '.settings.machines'
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                - if policy(Machine).index?
                  li class=('active' if controller_name == 'machines')
                    = link_to machines_path do
                      i.fa.fa-list>
                      span= t '.settings.machines_list'
                - if policy(MachineParameter).index?
                  li class=('active' if controller_name == 'machine_parameters')
                    = link_to machine_parameters_path do
                      i.fa.fa-gears>
                      span= t '.settings.machine_parameters'
                - if policy(OffsetPlate).index?
                  li class=('active' if controller_name == 'offset_plates')
                    = link_to offset_plates_path do
                      i.fa.fa-list>
                      span= t '.settings.offset_plates'

          - if policy(LacqueringAnilox).index? || policy(LacqueringName).index? || policy(LacqueringPolymer).index? || policy(LacqueringIndex).index?
            li.treeview class=('active' if lacquering_top_menu_active(controller_name))
              a href="#"
                i.fa.fa-paint-brush>
                = t '.settings.lacquering'
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                - if policy(LacqueringAnilox).index?
                  li class=('active' if controller_name == 'lacquering_aniloxes')
                    = link_to lacquering_aniloxes_path do
                      i.fa.fa-list>
                      span= t '.settings.lacquering_aniloxes'
                //- if policy(LacqueringName).index?
                //  li class=('active' if controller_name == 'lacquering_names')
                //    = link_to lacquering_names_path do
                //      i.fa.fa-list>
                //      span= t '.settings.lacquering_names'
                - if policy(LacqueringPolymer).index?
                  li class=('active' if controller_name == 'lacquering_polymers')
                    = link_to lacquering_polymers_path do
                      i.fa.fa-list>
                      span= t '.settings.lacquering_polymers'
                - if policy(LacqueringType).index?
                  li class=('active' if controller_name == 'lacquering_types')
                    = link_to lacquering_types_path do
                      i.fa.fa-list>
                      span= t '.settings.lacquering_types'
                - if policy(LacqueringIndex).index?
                  li class=('active' if controller_name == 'lacquering_indices')
                    = link_to lacquering_indices_path do
                      i.fa.fa-list>
                      span= t '.settings.lacquering_indices'

          - if policy(LaminationGlue).index? || policy(LaminationMachine).index? || policy(LaminationType).index? || policy(LaminationGlueType).index? || policy(LaminationGlueSystem).index? || policy(LaminationIndex).index?
            li.treeview class=('active' if lamination_top_menu_active(controller_name) || lamination_roto_top_menu_active(controller_name))
              a href="#"
                i.fa.fa-clone>
                = t '.settings.lamination'
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                - if policy(LaminationMachine).index?
                  li class=('active' if controller_name == 'lamination_machines')
                    = link_to lamination_machines_path do
                      i.fa.fa-print>
                      span= t '.settings.lamination_machines'
                - if policy(LaminationGlue).index?
                  li class=('active' if controller_name == 'lamination_glues')
                    = link_to lamination_glues_path do
                      i.fa.fa-eyedropper>
                      span= t '.settings.lamination_glues'
                - if policy(LaminationType).index?
                  li class=('active' if controller_name == 'lamination_types')
                    = link_to lamination_types_path do
                      i.fa.fa-list>
                      span= t '.settings.lamination_types'
                - if policy(LaminationGlueType).index?
                  li class=('active' if controller_name == 'lamination_glue_types')
                    = link_to lamination_glue_types_path do
                      i.fa.fa-list>
                      span= t '.settings.lamination_glue_types'
                - if policy(LaminationGlueSystem).index?
                  li class=('active' if controller_name == 'lamination_glue_systems')
                    = link_to lamination_glue_systems_path do
                      i.fa.fa-list>
                      span= t '.settings.lamination_glue_systems'
                - if policy(LaminationIndex).index?
                  li class=('active' if controller_name == 'lamination_indices')
                    = link_to lamination_indices_path do
                      i.fa.fa-list>
                      span= t '.settings.lamination_indices'
                - if policy(LaminationRotoGlueName).index? || policy(LaminationRotoGlueType).index? || policy(LaminationRotoIndex).index? || policy(LaminationRotoLinearity).index? || policy(LaminationRotoPreser).index?
                  li.treeview class=('active' if lamination_roto_top_menu_active(controller_name))
                    a href="#"
                      i.fa.fa-list>
                      = t('.settings.lamination_roto')
                      i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                      - if policy(LaminationRotoGlueName).index?
                        li class=('active' if controller_name == 'lamination_roto_glue_names')
                          = link_to lamination_roto_glue_names_path do
                            i.fa.fa-list>
                            span= t '.settings.lamination_roto_glue_names'
                      - if policy(LaminationRotoGlueType).index?
                        li class=('active' if controller_name == 'lamination_roto_glue_types')
                          = link_to lamination_roto_glue_types_path do
                            i.fa.fa-list>
                            span= t '.settings.lamination_glue_types'
                      - if policy(LaminationRotoLinearity).index?
                        li class=('active' if controller_name == 'lamination_roto_linearities')
                          = link_to lamination_roto_linearities_path do
                            i.fa.fa-list>
                            span= t '.settings.lamination_roto_linearities'
                      - if policy(LaminationRotoPreser).index?
                        li class=('active' if controller_name == 'lamination_roto_presers')
                          = link_to lamination_roto_presers_path do
                            i.fa.fa-list>
                            span= t '.settings.lamination_roto_presers'
                      - if policy(LaminationRotoIndex).index?
                        li class=('active' if controller_name == 'lamination_roto_indices')
                          = link_to lamination_roto_indices_path do
                            i.fa.fa-list>
                            span= t '.settings.lamination_roto_indices'
          - if policy(CuttingMachine).index? || policy(CuttingIndex).index?
            li.treeview class=('active' if cutting_top_menu_active(controller_name))
              a href="#"
                i.fa.fa-cut>
                = t '.settings.cutting'
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                - if policy(CuttingMachine).index?
                  li class=('active' if controller_name == 'cutting_machines')
                    = link_to cutting_machines_path do
                      i.fa.fa-print>
                      span= t '.settings.cutting_machines'
                - if policy(CuttingIndex).index?
                  li class=('active' if controller_name == 'cutting_indices')
                    = link_to cutting_indices_path do
                      i.fa.fa-list>
                      span= t '.settings.cutting_indices'
          - if policy(RotoPreser).index? || policy(RotoLinearity).index? || policy(RotoPaint).index?
            li.treeview class=('active' if roto_top_menu_active(controller_name))
              a href="#"
                i.fa.fa-list>
                = t '.settings.roto'
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                - if policy(RotoPreser).index?
                  li class=('active' if controller_name == 'roto_presers')
                    = link_to roto_presers_path do
                      i.fa.fa-list>
                      span= t '.settings.roto_preser'
                - if policy(RotoLinearity).index?
                  li class=('active' if controller_name == 'roto_linearities')
                    = link_to roto_linearities_path do
                      i.fa.fa-list>
                      span= t '.settings.roto_linearities'
                - if policy(RotoPaint).index?
                  li class=('active' if controller_name == 'roto_paints')
                    = link_to roto_paints_path do
                      i.fa.fa-list>
                      span= t '.settings.roto_paints'
                - if policy(RotoIndex).index?
                  li class=('active' if controller_name == 'roto_indices')
                    = link_to roto_indices_path do
                      i.fa.fa-list>
                      span= t '.settings.roto_indices'
          - if policy(PaintProvider).index? || policy(AcetateProvider).index? || policy(TemplateBackgroundProvider).index? || policy(TemplateBackgroundPrice).index? || policy(OffsetPlateProvider).index? || policy(AzoteProvider).index? || policy(PackProvider).index?
            li.treeview class=('active' if providers_top_menu_active(controller_name))
              a href="#"
                i.fa.fa-list>
                = t '.settings.providers'
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                - if policy(PaintProvider).index?
                  li class=('active' if controller_name == 'paint_providers')
                    = link_to paint_providers_path do
                      i.fa.fa-list>
                      span= t '.settings.paint_providers'
                - if policy(Paint).index?
                  li class=('active' if controller_name == 'paintss')
                    = link_to paints_path do
                      i.fa.fa-list>
                      span= t '.settings.paints'
                - if policy(AcetateProvider).index?
                  li class=('active' if controller_name == 'acetate_providers')
                    = link_to acetate_providers_path do
                      i.fa.fa-list>
                      span= t '.settings.acetate_providers'
                - if policy(TemplateBackgroundProvider).index?
                  li class=('active' if controller_name == 'template_background_providers')
                    = link_to template_background_providers_path do
                      i.fa.fa-list>
                      span= t '.settings.template_background_providers'
                - if policy(TemplateBackgroundPrice).index?
                  li class=('active' if controller_name == 'template_background_prices')
                    = link_to template_background_prices_path do
                      i.fa.fa-list>
                      span= t '.settings.template_background_prices'
                - if policy(OffsetPlateProvider).index?
                  li class=('active' if controller_name == 'offset_plate_providers')
                    = link_to offset_plate_providers_path do
                      i.fa.fa-list>
                      span= t '.settings.offset_plate_providers'
                - if policy(AzoteProvider).index?
                  li class=('active' if controller_name == 'azote_providers')
                    = link_to azote_providers_path do
                      i.fa.fa-list>
                      span= t '.settings.azote_providers'
                - if policy(PackProvider).index?
                  li class=('active' if controller_name == 'pack_providers')
                    = link_to pack_providers_path do
                      i.fa.fa-list>
                      span= t '.settings.pack_providers'

      - if policy(Order).index?
        li class=('active' if controller_name == 'orders')
          = link_to orders_path do
            i.fa.fa-tasks>
            span= t '.settings.orders'

coffee:
  $('li.treeview').each (index, element) ->
    $el = $(element)
    $el.hide() if $el.find('li').length is 0
