.box.box-primary
  .box-body
    = simple_form_for @lacquering_polymer, html: { class: 'form-horizontal' } do |f|
      = f.input :machine_id, collection: machines_data_for_select, include_blank: true
      = f.input :value

      .box-footer
        => link_to t('shared.back'), lacquering_polymers_path, class: 'btn btn-default'
        => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'