section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_lacquering_polymer_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th= t '.table.value'
            th=t '.table.machine'
            th
        tbody
          - @lacquering_polymers.each do |lacquering_polymer|
            tr id=dom_id(lacquering_polymer)
              td= link_to_if policy(lacquering_polymer).edit?, lacquering_polymer.value, edit_lacquering_polymer_path(lacquering_polymer)
              td= lacquering_polymer.machine.name
              td
                - if policy(lacquering_polymer).destroy?
                  = link_to lacquering_polymer_path(lacquering_polymer), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @lacquering_polymers, theme: 'twitter-bootstrap-3'