table.table.table-striped
  tbody
    tr
      td colspan="2"
        .pull-right
          => link_to pdf_lamination_2_order_path(@order, format: :pdf), class: 'btn btn-primary' do
            i.fa.fa-file-pdf-o>
            = t('orders.show.actions.export_to_pdf')
    tr
      td= t('orders.lamination_data.lamination_machine')
      td= order.lamination_machine_2.name

    - if show_lamination2_roto?(order)
      tr
        td= t('orders.lamination_data.lamination_roto_glue_name')
        td= order.lamination_roto_glue_name_2.name
      tr
        td= t('orders.lamination_data.lamination_roto_glue_type')
        td= order.lamination_roto_glue_type_2.name
      tr
        td= t('orders.lamination_data.lamination_roto_linearity')
        td= order.lamination_roto_linearity_2.value
      tr
        td= t('orders.lamination_data.lamination_roto_preser')
        td= order.lamination_roto_preser_2.value
      tr
        td= t('orders.lamination_data.lamination_roto_glue_viscosity')
        td= order.lamination_roto_glue_viscosity_2
      tr
        td= order.lamination_roto_glue_name_2.resin_name
        td= order.lamination_roto_resin_2
      tr
        td= order.lamination_roto_glue_name_2.hardener_name
        td= order.lamination_roto_hardener_2
      tr
        td= t('orders.lamination_data.lamination_roto_acetate')
        td= order.lamination_roto_acetate_2
    - else
      tr
        td= t('orders.lamination_data.lamination_cylinder')
        td= order.lamination_cylinder_2.value
      tr
        td= t('orders.lamination_data.lamination_glue')
        td= order.lamination_glue_2.name

    tr
      td= t('orders.lamination_data.lamination_glue_system')
      td= order.lamination_glue_system_2.name
    tr
      td= t('orders.lamination_data.lamination_type')
      td= order.lamination_type_2.name
    tr
      td= t('orders.lamination_data.lamination_glue_type')
      td= order.lamination_glue_type_2.name
    tr
      td= t('orders.lamination_data.canvas_width_lamination')
      td= order.canvas_width_lamination_2
    tr
      td colspan="2" style="text-align: center;"
        b= t('orders.tabs.calculations')
    tr
      td= t('orders.lamination_data.background_for_print_lamination_2')
      td= order.template.background_for_lamination_2.name
    tr
      td= t('orders.tabs.raw_material_weight_for_lamination')
      td= order.template.background_for_lamination_2.raw_weight
    tr
      td= t('orders.lamination_data.weight')
      td= params.triplex_weight
    tr
      td= t('orders.lamination_data.amount_mb')
      td= params.triplex_amount_mb
    tr
      td= t('orders.lamination_data.area')
      td= params.triplex_area
    tr
      td= t('orders.tabs.tab_main.good_material')
      td= params.material_after_second_lamination

    - if show_lamination2_roto?(order)
      tr
        td Klej rozpuszczalnikowy masa sucha
        td= params.glue_dry_weight_roto
      tr
        td Klej rozpuszczalnikowy masa mokra
        td= params.glue_wet_weight_roto
      tr
        td= t('orders.tabs.tab_for_print.dry_weight')
        td= params.lamination2_roto_index_dry
      tr
        td= t('orders.tabs.tab_for_print.wet_weight')
        td= params.lamination2_roto_index_wet
    - else
      tr
        td= t('orders.lamination_data.glue_amount')
        td= params.lamination_index

    - if princess_solventless1?(order)
      tr
        td Klej bezrozpuszczalnikowy
        td= params.princess_solventless_glue2
