table.table.table-striped
  tbody
    tr
      td colspan="2"
        .pull-right style="margin-left: 3px;"
          => link_to pdf_for_print_order_path(order, format: :pdf), class: 'btn btn-primary' do
            i.fa.fa-file-pdf-o>
            = t('orders.show.actions.export_to_pdf')
    tr
      td= t('.machine')
      td= order.machine.name
    tr
      td= t('.cylinder')
      td= order.cylinder.name
    tr
      td= t('.canvas_width')
      td= order.canvas_width
    tr
      td= t('.color')
      td= order.color_preset.name
    tr
      td= t('.ink_amount')
      td= order.ink_amount
    - if show_panton_1?(@order)
      tr
        td= t('.panton_1_paint')
        td= order.panton_1_paint.name
      tr
        td= t('.panton_1_amount')
        td= order.panton_1_amount
    - if show_panton_2?(@order)
      tr
        td= t('.panton_2_paint')
        td= order.panton_2_paint.name
      tr
        td= t('.panton_2_amount')
        td= order.panton_2_amount
    tr
      td colspan="2" style="text-align: center;"
        b= t('orders.tabs.calculations')
    tr
      td= t('.background_for_print_lamination')
      td= order.template.background.name
    tr
      td= t('orders.tabs.raw_material_weight_for_print')
      td= order.template.background.raw_weight
    tr
      td= t('.weight')
      td= params.weight
    tr
      td= t('.amount_mb')
      td= params.amount_mb
    tr
      td= t('.area')
      td= params.area
    tr
      td= t('.good_material')
      td= params.good_material

    - if order.lacquering
      tr
        td colspan="2" style="text-align: center;"
          b= t('.lacquering')
      tr
        td= t('.lacquering_type')
        td= order.lacquering_type.value
      tr
        td= t('.lacquering_name')
        td= order.lacquering_name.value
      - if order.lacquering_anilox.present?
        tr
          td= t('.lacquering_anilox')
          td= order.lacquering_anilox.value
      - if order.machine.use_lacquering_polymer
        tr
          td= t('.lacquering_polymer')
          td= order.lacquering_polymer.value
        tr
          td= t('.dry_weight')
          td= params.lacquering_dry_weight
        tr
          td= t('.wet_weight')
          td= params.lacquering_wet_weight
        tr
          td= t('.lacquer_dry_weight')
          td= params.lacquer_dry_weight
        tr
          td= t('.lacquer_wet_weight')
          td= params.lacquer_wet_weight
      - else
        tr
          td= t('.lacquering_coverage_ratio')
          td= params.lacquering_coverage_ratio
        tr
          td= t('.lacquer_paint')
          td= params.lacquer_paint

    - if order.roto
      tr
        td colspan="2" style="text-align: center;"
          b= t('.roto')
      tr
        td= t('.roto_linearity')
        td= order.roto_linearity.name
      tr
        td= t('.roto_preser')
        td= order.roto_preser.value
      tr
        td= t('.roto_paint')
        td= order.roto_paint.name
      tr
        td= t('.roto_paint_dry')
        td= params.roto_paint_dry
      tr
        td= t('.roto_paint_wet')
        td= params.roto_paint_wet
      tr
        td= t('.dry_weight')
        td= params.roto_index_dry
      tr
        td= t('.wet_weight')
        td= params.roto_index_wet
