table.table.table-striped
  tbody
    - if order.current_state > :new
      tr
        td colspan="2"
          .pull-right
            => link_to pdf_main_order_path(@order, format: :pdf), class: 'btn btn-primary' do
              i.fa.fa-file-pdf-o>
              = t('orders.show.actions.export_to_pdf')
    tr
      td= t('.number')
      td= order.number
    tr
      td= t('.client')
      td= order.client.name
    tr
      td= t('.name')
      td= order.name
    tr
      td= t('.amount')
      td= order.amount
    tr
      td= t('.width')
      td= order.width
    tr
      td= t('.height')
      td= order.height
    tr
      td= t('.template')
      td= "#{simple_format(order.template.name)}".html_safe

    - if !order.new?
      tr
        td= t('.item_count_on_width')
        td= order.item_count_on_width
      tr
        td colspan="2" style="text-align: center;"
          b= t('orders.tabs.calculations')
      tr
        td= t('.paint_brutto')
        td= params.base_ink_weight.round(2)
