table.table.table-striped
  tbody
    tr
      td colspan="2"
        .pull-right
          => link_to pdf_lamination_1_order_path(@order, format: :pdf), class: 'btn btn-primary' do
            i.fa.fa-file-pdf-o>
            = t('orders.show.actions.export_to_pdf')
    tr
      td= t('orders.lamination_data.lamination_machine')
      td= order.lamination_machine_1.name

    - if show_lamination1_roto?(order)
      tr
        td= t('orders.lamination_data.lamination_roto_glue_name')
        td= order.lamination_roto_glue_name_1.name
      tr
        td= t('orders.lamination_data.lamination_roto_glue_type')
        td= order.lamination_roto_glue_type_1.name
      tr
        td= t('orders.lamination_data.lamination_roto_linearity')
        td= order.lamination_roto_linearity_1.value
      tr
        td= t('orders.lamination_data.lamination_roto_preser')
        td= order.lamination_roto_preser_1.value
      tr
        td= t('orders.lamination_data.lamination_roto_glue_viscosity')
        td= order.lamination_roto_glue_viscosity_1
      tr
        td= order.lamination_roto_glue_name_1.resin_name
        td= order.lamination_roto_resin_1
      tr
        td= order.lamination_roto_glue_name_1.hardener_name
        td= order.lamination_roto_hardener_1
      tr
        td= t('orders.lamination_data.lamination_roto_acetate')
        td= order.lamination_roto_acetate_1
    - else
      tr
        td= t('orders.lamination_data.lamination_cylinder')
        td= order.lamination_cylinder_1.value
      tr
        td= t('orders.lamination_data.lamination_glue')
        td= order.lamination_glue_1.name

    tr
      td= t('orders.lamination_data.lamination_glue_system')
      td= order.lamination_glue_system_1.name
    tr
      td= t('orders.lamination_data.lamination_type')
      td= order.lamination_type_1.name
    tr
      td= t('orders.lamination_data.lamination_glue_type')
      td= order.lamination_glue_type_1.name
    tr
      td= t('orders.lamination_data.canvas_width_lamination')
      td= order.canvas_width_lamination_1
    tr
      td colspan="2" style="text-align: center;"
        b= t('orders.tabs.calculations')
    tr
      td= t('orders.lamination_data.background_for_print_lamination_1')
      td= order.template.background_for_lamination_1.name
    tr
      td= t('orders.tabs.raw_material_weight_for_lamination')
      td= order.template.background_for_lamination_1.raw_weight
    tr
      td= t('orders.lamination_data.weight')
      td= params.duplex_weight
    tr
      td= t('orders.lamination_data.amount_mb')
      td= params.duplex_amount_mb
    tr
      td= t('orders.lamination_data.area')
      td= params.duplex_area
    tr
      td= t('orders.tabs.tab_main.good_material')
      td= params.material_after_first_lamination

    - if show_lamination1_roto?(order)
      tr
        td= t('orders.lamination_data.roto_dry_weight')
        td= params.glue_dry_weight_roto
      tr
        td= t('orders.lamination_data.roto_wet_weight')
        td= params.glue_wet_weight_roto
      tr
        td= t('orders.tabs.tab_for_print.dry_weight')
        td= params.lamination1_roto_index_dry
      tr
        td= t('orders.tabs.tab_for_print.wet_weight')
        td= params.lamination1_roto_index_wet
    - else
      tr
        td= t('orders.lamination_data.glue_amount')
        td= params.lamination_index

    - if princess_solventless1?(order)
      tr
        td Klej bezrozpuszczalnikowy
        td= params.princess_solventless_glue1
