table.table.table-striped
  tbody
    tr
      td colspan="2"
        .pull-right
          => link_to pdf_after_print_order_path(order, format: :pdf), class: 'btn btn-primary' do
            i.fa.fa-file-pdf-o>
            = t('orders.show.actions.export_to_pdf')
    tr
      td= t('.outer_diametr')
      td= order.client.outer_diameter
    tr
      td= t('.packing_method')
      td= order.client.packing_method
    tr
      td= t('.good_material_amount')
      td= params.material_after_cut
    tr
      td= t('.from_1_meter')
      td= params.item_count_on_width_one_meter
    tr
      td= t('.units_amount_sum')
      td= params.packages_amount_sum
    - for i in 1..order.item_count_on_width
      tr
        td= t("shared.alphabet.#{i}")
        td= (params.packages_amount_sum / order.item_count_on_width).round(0)
