table.table.table-striped
  tbody
    tr
      td colspan="2" style="text-align: center;"
        b
          = order.template.background.name
    tr
      td Waga [kg]
      td= params.weight
    tr
      td Producent
      td= order.background_for_print_provider.name
    tr
      td Cena 1 kg
      td= humanized_money_with_symbol @order.background_print_price.price
    tr
      td Cena zakupu
      td= humanized_money_with_symbol price.background_for_print_price

    - if order.duplex || order.triplex
      tr
        td colspan="2" style="text-align: center;"
          b
            = order.template.background_for_lamination_1.name
      tr
        td Waga [kg]
        td= params.duplex_weight
      tr
        td Producent
        td= order.background_for_lamination1_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.background_lamination1_price.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.background_for_lamination1_price

    - if order.triplex
      tr
        td colspan="2" style="text-align: center;"
          b
            = order.template.background_for_lamination_2.name
      tr
        td Waga [kg]
        td= params.triplex_weight
      tr
        td Producent
        td= order.background_for_lamination2_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.background_lamination2_price.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.background_for_lamination2_price

    tr
      td colspan="2" style="text-align: center;"
        b
          = "Yellow (#{order.yellow_provider.yellow.name})"
    tr
      td Waga [kg]
      td= price.yellow_weight
    tr
      td Producent
      td= order.yellow_provider.name
    tr
      td Cena 1 kg
      td= humanized_money_with_symbol order.yellow_price.price
    tr
      td Cena zakupu
      td= humanized_money_with_symbol price.yellow_price

    tr
      td colspan="2" style="text-align: center;"
        b
          = "Magenta (#{order.magenta_provider.magenta.name})"
    tr
      td Waga [kg]
      td= price.magenta_weight
    tr
      td Producent
      td= order.magenta_provider.name
    tr
      td Cena 1 kg
      td= humanized_money_with_symbol order.magenta_price.price
    tr
      td Cena zakupu
      td= humanized_money_with_symbol price.magenta_price

    tr
      td colspan="2" style="text-align: center;"
        b
          = "Cyan (#{order.cyan_provider.cyan.name})"
    tr
      td Waga [kg]
      td= price.cyan_weight
    tr
      td Producent
      td= order.cyan_provider.name
    tr
      td Cena 1 kg
      td= humanized_money_with_symbol order.cyan_price.price
    tr
      td Cena zakupu
      td= humanized_money_with_symbol price.cyan_price

    tr
      td colspan="2" style="text-align: center;"
        b
          = "Black (#{order.black_provider.black.name})"
    tr
      td Waga [kg]
      td= price.black_weight
    tr
      td Producent
      td= order.black_provider.name
    tr
      td Cena 1 kg
      td= humanized_money_with_symbol order.black_price.price
    tr
      td Cena zakupu
      td= humanized_money_with_symbol price.black_price

    - if show_panton_1?(order)
      tr
        td colspan="2" style="text-align: center;"
          b
            = "Panton 1 (#{order.panton_1_paint.name})"
      tr
        td Waga [kg]
        td= params.panton_1_weight.round(2)
      tr
        td Producent
        td= order.panton_1_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.panton_1_price.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.panton_1_price

    - if show_panton_2?(order)
      tr
        td colspan="2" style="text-align: center;"
          b
            = "Panton 2 (#{order.panton_2_paint.name})"
      tr
        td Waga [kg]
        td= params.panton_2_weight.round(2)
      tr
        td Producent
        td= order.panton_2_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.panton_2_price.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.panton_2_price
    tr
      td colspan="2" style="text-align: center;"
        b
          = "Płyta ofsetowa (#{order.cylinder.offset_plates.first.name})"
    tr
      td Ilość
      td= order.color_preset.offset_plates_count
    tr
      td Producent
      td= order.offset_plate_provider.name
    tr
      td Cena 1 kg
      td= humanized_money_with_symbol price.offset_plate_price_obj.price
    tr
      td Cena zakupu
      td= humanized_money_with_symbol price.offset_plate_price

    - if order.roto
      tr
        td colspan="2" style="text-align: center;"
          b
            | Farba ROTO
      tr
        td Waga [kg]
        td= params.roto_paint_wet_percentage.round(2)
      tr
        td Producent
        td= order.roto_paint_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.roto_paint_price.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.roto_paint_price
      tr
        td colspan="2" style="text-align: center;"
          b
            | ROTO octan
      tr
        td Waga [kg]
        td= params.roto_acetate_wet_percentage.round(2)
      tr
        td Producent
        td= order.roto_acetate_name.acetate_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.roto_acetate_name.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.roto_acetate_price
      tr
        td colspan="2" style="text-align: center;"
          b
            | ROTO octan mycie
      tr
        td Wage [kg]
        td 5.5
      tr
        td Producent
        td= order.roto_acetate_name.acetate_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.roto_acetate_name.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.roto_acetate_cleaning

    - if order.lacquering
      tr
        td colspan="2" style="text-align: center;"
          b
            | Lacquering
      tr
        td Waga [kg]
        td= params.lacquer_wet_weight
      tr
        td Producent
        td= order.lacquering_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.lacquer_price.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.lacquer_price

    - if order.machine.use_azote
      tr
        td colspan="2" style="text-align: center;"
          b
            | Azot
      tr
        td Ilość
        td= price.azote_weight
      tr
        td Producent
        td= order.azote_provider.name
      tr
        td Cena 1 kg
        td= humanized_money_with_symbol order.azote_provider.price
      tr
        td Cena zakupu
        td= humanized_money_with_symbol price.azote_price

    tr
      td colspan="2" style="text-align: center;"
        b
          | Pakowanie
    tr
      td Nazwa
      td= order.pack_name
    tr
      td Dostawca
      td= order.pack_provider.name
    tr
      td Cena 1 [kg]
      td= humanized_money_with_symbol order.price_pack
    tr
      td Opakowanie
      td= order.pack_amount
    tr
      td Ilość
      td= price.pack_amount
    tr
      td Cena
      td= humanized_money_with_symbol price.pack_price

    tr
      td colspan="2" style="text-align: center;"
        b
          | Orientacyjny czas wykonannia zlec.
    tr
      td Vpbp[m/min] dla zadanej maszyny
      td= order.machine_template_speed.vpbp
    tr
      td Szacowany czas druku bez przyrządu [min]
      td= params.base_print_time.round(2)
    tr
      td Teoretyczna ilość nawojów po druku
      td= params.threads_after_print
    tr
      td Wyliczony czas kod 202 [ min ]
      td= params.calculated_time_202
    tr
      td Wyliczony czas kod 204 [ min ]
      td= params.calculated_time_204
    tr
      td Przyrząd 101 + 203 na kolor w [ min ] Czas sumaryczny
      td= params.calculated_time_101_203
    tr
      td Szacowany czas na realizacje zlec
      td= Time.at(params.order_estimate_time * 60).utc.strftime('%H:%M')
    tr
      td 1 roboczo godzina
      td= humanized_money_with_symbol order.machine.hour_cost
    tr
      td Koszt
      td= humanized_money_with_symbol price.machine_work_costs

    - if order.duplex || order.triplex
      tr
        td colspan="2" style="text-align: center;"
          b
            | Laminacja
      tr
        td Vpzp [m/min] dla danego układu
        td= params.lamination_index_model.vpzp
      tr
        td Szacowany czas na realizacje zlec
        td= Time.at(params.lamination_time * 60).utc.strftime('%H:%M')
      tr
        td 1 roboczo godzina
        td= humanized_money_with_symbol order.lamination_machine_1.hour_cost
      tr
        td Koszt
        td= humanized_money_with_symbol price.lamination_work_costs

    tr
      td colspan="2" style="text-align: center;"
        b
          | Cięcie
    tr
      td Vpzp [m/min] dla danego układu
      td 53
    tr
      td Szacowany czas na realizacje zlec
      td= Time.at((25436/53) * 60).utc.strftime('%H:%M')
    tr
      td 1 roboczo godzina
      td= humanized_money_with_symbol Money.new(24200, 'PLN')
    tr
      td Koszt
      td= humanized_money_with_symbol (25436/53) / 60 * Money.new(24200, 'PLN')

    tr
      td colspan="2" style="text-align: center;"
        b
          | Zabezpieczenie produkcji wartość stała mnożnik 4
    tr
      td Koszt
      td= humanized_money_with_symbol price.constant_costs

    tr
      td colspan="2" &nbsp;
    tr
      td Dodatkowe koszty
      td= humanized_money_with_symbol exchange(order.price_additional, 'PLN')
    tr
      td Suma kosztów na realizację zlecenia – tylko surowce
      td= humanized_money_with_symbol price.sum_materials_price
    tr
      td Suma kosztów pracy
      td= humanized_money_with_symbol price.sum_working_price
    tr
      td Koszty suma
      td= humanized_money_with_symbol price.total_sum
