table.table.table-hover
  thead
    tr
      th= t('.user')
      th= t('.date')
      th= t('.action')
      th= t('.description')
  tbody
    - logs.each do |log|
      tr
        td= "#{log.owner.first_name} #{log.owner.last_name} (#{log.owner.email})"
        td= l log.created_at, format: :short
        td= t(".#{log.key}")
        td
          - if log.key == 'order.cant_prepare_materials'
            = log.data['cant_prepare_materials_comment']
