/
  - utilities.each do |item|
    td
      a.editable#utility_bobin_amount href="#" data-value-amount="123" data-value-weight="456" data-resource="order[utilities]" data-url=update_order_additional_info_order_path(order)
      td
        a.editable#utility_weight href="#" data-type="number" data-step="1" data-resource="order[utilities][]" data-name="weight" data-url=update_order_additional_info_order_path(order)
          = item['weight']
      td
        a.editable#utility_amount href="#" data-type="number" data-step="1" data-resource="order[utilities][]" data-name="amount" data-url=update_order_additional_info_order_path(order)
          = item['amount']
      td
        a.editable#utility_packs_amount href="#" data-type="number" data-step="1" data-resource="order[utilities][]" data-name="packs_amount" data-url=update_order_additional_info_order_path(order)
          = item['packs_amount']