= simple_form_for @acetate_provider, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name

  h4= t('.acetate_names.title')

  #acetate_names
    = f.simple_fields_for :acetate_names do |ac_name|
      = render 'acetate_name_fields', f: ac_name

  .box.box-solid
    .box-body
      .links
        = link_to_add_association t('.acetate_names.add'), f, :acetate_names, class: 'btn btn-success', data: { 'association-insertion-node' => '#acetate_names', 'association-insertion-method' => 'append' }

  .box.box-solid
    .box-footer
      => link_to t('shared.back'), acetate_providers_path, class: 'btn btn-default'
      => f.button :submit, f.object.new_record? ? t('shared.create') : t('shared.save'), class: 'btn btn-primary pull-right'