section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      = link_to t('.actions.add'), new_acetate_provider_path, class: 'btn btn-success'
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @acetate_providers.each do |acetate_provider|
            tr id=dom_id(acetate_provider)
              td= link_to_if policy(acetate_provider).edit?, acetate_provider.name, edit_acetate_provider_path(acetate_provider)
              td
                - if policy(acetate_provider).destroy?
                  = link_to acetate_provider_path(acetate_provider), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                    i.fa.fa-trash
    .box-footer
      = paginate @acetate_providers, theme: 'twitter-bootstrap-3'