doctype html
html
  head
    meta charset='utf-8'
    title=t '.title'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body.skin-blue-light.sidebar-mini
    .wrapper
      header.main-header
        = link_to root_path, class: 'logo' do
          span.logo-mini
            b RG
          = image_tag 'logo.png', class: 'btn', height: '100%'
        nav.navbar.navbar-static-top
          a.sidebar-toggle data-toggle='offcanvas' href='#' role='button'
            span.sr-only Toggle navigation
            span.icon-bar
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle href='#' data-toggle='dropdown'
                  => t("shared.language.#{I18n.locale}")
                  span.caret
                ul.dropdown-menu role='menu'
                  - %w(en pl).each do |locale|
                    li
                      = link_to t("shared.language.#{locale}"), url_for(locale: locale)
              li.dropdown
                a.dropdown-toggle href='#' data-toggle='dropdown'
                  => current_user.email
                  span.caret
                ul.dropdown-menu role='menu'
                  li= link_to t('.logout'), destroy_user_session_path, method: :delete

      = render 'navigation'

      .content-wrapper style='min-height: 700px;'
        = render 'flash'
        = yield

      footer.main-footer © REF-GRAF 2016