doctype html
html
  head
    meta charset='utf-8'
    title=t '.title'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body.hold-transition.login-page
    section.content
      = render 'flash'
      .login-box
        .login-logo
          = image_tag 'logo.png'
        .box.box-primary
          .box-header.with-border.text-center
            h3.box-title=t '.log_in'
          = yield