doctype html
html
  head
    meta charset='utf-8'
    = wicked_pdf_stylesheet_link_tag 'pdf'
  body.pdf
    = yield
    css:
      .page-break {
        display: block;
        clear: both;
        page-break-after: always;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        empty-cells:show;
      }

      td {
        padding: 5px;
        vertical-align: middle;
        border: 1px solid black;
      }

      nav table {
        display: inline-block;
      }

      .noborder {
        border: none;
      }

      #one {
        float: left;
        width: 47.5%;
        margin-right: 10px;
      }

      #two {
        float: left;
        width: 47.5%;
      }

      .small_text {
        font-size: small;
      }

      .big_text {
        font-size: x-large;
      }

      td.title {
        font-weight: bold;
      }

      .border-full {
        border: 1px solid black;
      }

      .border-left {
        border-left: 1px solid black;
      }

      .border-right {
        border-right: 1px solid black;
      }